<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
<meta name="Keywords" content="" />
<meta name="author" content="Gaia3D" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>실내외 3차원 통합 플랫폼, mago3D</title>
<!-- Include the CesiumJS JavaScript and CSS files -->
<script src="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Cesium.js"></script>
<link href="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/ko/user-style.css" />
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
	function view_layer(name) { 
  	document.getElementById(name).style.display='block'; 
	} 
	function close_layer(name) { 
  	document.getElementById(name).style.display='none'; 
	} 
</script>
</head>
<body>
	<div id="layer1" class="detaildata poplayer">
		<button type=button" class="pop-close"></button>	
		<h6 class="pop-title">3D 라이브러리 목록</h6>
		<div class="tbl-library">
			<table>
				<colgroup>
						<col width="12%" />
						<col width="30%" />
						<col width="58%" />
					</colgroup>
					<tr>
						<th>선택</th>
						<th>그룹명</th>
						<th>3D 라이브러리</th>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
										<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>가로수</td>
						<td class="alg-left">
							은행나무 12년산
							<span class="sumnail"></span>
						</td>
					</tr>
			</table>
		</div>
		<div class="paging-center">페이징자리</div>
	</div>
</body>
</html>
