<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow"/>
	<title><th:block th:text="#{data.page.title}"></th:block></title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/cesium/Widgets/widgets.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/geostats/geostats.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/kotSlider/range.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/tuidatepicker-4.0.3/tui-date-picker.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/iot-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/json-viewer/json-viewer.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/css-toggle-switch/toggle-switch.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/noUiSlider/nouislider.min.css(cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<style type="text/css">
		.mapWrap {
			float:right;
			width: calc(100% - 60px);
			height: 100%;
			background-color: #eee;
		}
		.mapWrap2 {
			float:right;
			width: calc(50% - 60px);
			height: 100%;
			background-color: #eee;
			display:none;
			border-right: 3px solid #ccc;
		}
		.positionBox {
			display : none;
		    width: 120px;
		    height: 100px;
		    position: absolute;
		    bottom: 40px;
		    left: 439px;
		    background: #283651;
		    z-index: 200;
		    border-radius: 10px;
		    border: 2px solid #B4BBE7;
		    opacity: 0.7;
		}
    </style>
</head>
<body>
<div th:replace="~{/fragments/header :: #headerWrap}"></div>
<div id="loadingWrap">
	<div class="loading">
		<span class="spinner"></span>
	</div>
</div>
<div id="wrap" style="min-height: 560px;"> <!-- 왼쪽 메뉴 높이에 맞춰서 설정해 줘야함 -->
	<!-- S: NAVWRAP -->
	<div class="navWrap">
		<div th:replace="~{/fragments/menu :: #navWrap}"></div>
		<!-- E: NAVWRAP -->
		<div id="contentsWrap" class="contentsWrap" style="display: none;">
			<div id="searchContent" class="contents fullHeight" style="display:none;">
				<div th:replace="~{/search/district :: #districtWrap}"></div>
			</div>
			<div id="dataContent" class="contents-margin-default fullHeight">
				<div class="tabs">
					<ul id="dataInfoTab" class="tab tab-divide">
						<li id="dataGroupTab" th:text="#{data.group.list.tab.menu}" data-nav="dataGroupInfoContent"></li>
						<li id="dataListTab" class="on" th:text="#{data.list.tab.menu}" data-nav="dataInfoContent"></li>
					</ul>
				</div>
				<div th:replace="~{/data/map-data :: #dataInfoContent}"></div>
				<div th:replace="~{/data/map-data-group :: #dataGroupInfoContent}"></div>
			</div>
			<!-- E: 데이터 -->

			<div th:replace="~{/spatial/spatial :: #spatialContent}"></div>

			<div th:replace="~{/simulation/simulation :: #simulationContent}"></div>

			<div th:replace="~{/iot/list :: #iotContent}"></div>

			<div th:replace="~{/layer/list :: #layerContent}"></div>

			<!-- E: CONTENTSBTN -->
		</div>
		<div class="contentsBtn">
			<button type="button" id="closeLeftBtn" th:title="#{common.close}" style="display:none;">Close</button>
		</div>
		<!-- E: CONTENTSWRAP -->

	</div>
	<!-- E: NAVWRAP -->

	<!-- S: GNB WRAP -->
	<!--<div th:replace="~{/fragments/global-search :: #gnbWrap}"></div>-->
	<!-- E: GNB WRAP -->

	<!-- CTRLWRAP -->
	<div th:replace="~{/fragments/toolbar :: #toolbarWrap}"></div>
	<!-- E: CTRLWRAP -->

	<!-- MAP -->
	<div id="magoContainer" class="mapWrap">

		<div id="overlayDHTML"></div>
		<div id="buildingInfoDHTML"></div>

		<div class="analysisGraphic">
			<canvas id="analysisGraphic"></canvas>
			<div class="closeGraphic">X</div>
		</div>
		<div class="sliderWrap" id="csRange">
			<label for="rangeInput" class="hiddenTag">caRange</label>
			<input id="rangeInput"/>
		</div>
		<div class="sliderWrap" id="saRange">
			<label for="timeInput" class="hiddenTag">saRange</label>
			<input id="timeInput"/>
		</div>
		
		<div class="positionBox" id="positionBox">
			<button type="button" style="float: right;width: 20px;">X</button>
			<div style="color: #D2D4E1; margin: 20px 0 0 10px;">
				<span id="positionBoxLongitude" style="display: block;">D2D4E1</span>
				<span id="positionBoxLatitude" style="display: block;">D2D4E1</span>
				<span id="positionBoxHeight" style="display: block;">D2D4E1</span>
			</div>
		</div>
	</div>
	<div id="magoDivideContainer" class="mapWrap2">
	</div>
	<!-- E: MAP -->
</div>
<!-- E: WRAP -->
<div th:replace="~{/data/data-dialog-template :: #dataDialogWrap}"></div>
<div th:replace="~{/data/data-group-dialog-template :: #dataGroupDialogWrap}"></div>
<div th:replace="~{/data/map-data-template :: #dataListSource}"></div>
<div th:replace="~{/data/map-data-group-template :: #dataGroupListSource}"></div>
<div th:replace="~{/data/data-attribute-dialog :: #dataAttributeDialog}"></div>
<div th:replace="~{/data/data-object-attribute-dialog :: #dataObjectAttributeDialog}"></div>
<div th:replace="~{/data/sample-data-attribute-template :: #sampleDataAttributeDialogWrap}"></div>
<div th:replace="~{/issue/issue-dialog :: #issueForm}"></div>
<div th:replace="~{/simulation/simul-solar-dialog :: #simulSolarDialog}"></div>
<div th:replace="~{/common/overlay-template :: #overlaySource}"></div>
<div th:replace="~{/iot/building-info-template :: #buildingInfoSource}"></div>
<div th:replace="~{/iot/dust-info-template :: #dustInfoSource}"></div>

<script type="text/javascript" th:src="@{/externlib/json-viewer/json-viewer.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/handlebars-4.7.7/handlebars.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/handlebars-helper.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/noUiSlider/nouislider.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/cesium/Cesium.js}"></script>
<script type="text/javascript" th:src="@{/externlib/cesium-geoserver-terrain-provider/GeoserverTerrainProvider.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/geostats/geostats.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/kotSlider/range.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/decodeTextAlternative/encoding-indexes.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/decodeTextAlternative/encoding.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/moment-2.22.2/moment-with-locales.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/chartjs/Chart.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/hammerjs/hammer.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/tuidatepicker-4.0.3/tui-date-picker.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/mago3d/mago3d.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/mago3d/mago3djs-weather.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/mago3d/mago3d_lx.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/spatial-analysis.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/district-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/wps-request.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/search.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/data-info.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/user-policy.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/simulation/simulation.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/simulation/time-series.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/simulation/wind.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/simulation/water.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/layer.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-data-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-init.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/issue-controller.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-data.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-data-group.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>

<script type="text/javascript">

	var MAGO3D_INSTANCE;
	var MAGO3D_DIVIDE_INSTANCE;
	var MAGO = MAGO || {
		policy: {},
		dataGroup: {},
		baseLayers: {},
		microService: {}
	};

	initPolicy(function (policy, baseLayers, microService) {
		MAGO.policy = policy;
		MAGO.baseLayers = baseLayers;
		// sensorThings  같은 서비스들이 활성화 되어 있는지 확인
		MAGO.microService = microService;
		magoInit();
	});

	function magoInit() {
		var geoPolicyJson = MAGO.policy;

		var cesiumViewerOption = {};
		cesiumViewerOption.defaultControl = {};
		cesiumViewerOption.defaultControl.zoom = false;
		cesiumViewerOption.defaultControl.initCamera = false;
		cesiumViewerOption.defaultControl.fullScreen = false;
		cesiumViewerOption.defaultControl.measure = false;
		cesiumViewerOption.defaultControl.tools = false;
		cesiumViewerOption.defaultControl.attribution = false;
		cesiumViewerOption.defaultControl.overviewMap = false;
		
		/**
		 * @param {Stirng} containerId container div id. required.
		 * @param {object} serverPolicy mage3d geopolicy. required.
		 * @param {object} callback loadstart callback, loadend callback. option.
		 * @param {object} options Cesium viewer parameter. option.
		 * @param {Cesium.Viewer} legacyViewer 타 시스템과의 연동의 경우 view 객체가 생성되어서 넘어 오는 경우가 있음. option.
		*/
		MAGO3D_INSTANCE = new Mago3D.Mago3d('magoContainer', geoPolicyJson, {loadend : magoLoadEnd}, cesiumViewerOption);

	}

	function magoLoadEnd(e) {
		var magoInstance = e;
		var geoPolicyJson = MAGO.policy;
		var viewer = magoInstance.getViewer();
		var magoManager = magoInstance.getMagoManager();
		var f4dController = magoInstance.getF4dController();

		// TODO : 세슘 MAP 선택 UI 제거, 엔진에서 처리로 변경 예정.
		if(viewer.baseLayerPicker) viewer.baseLayerPicker.destroy();
		viewer.scene.globe.depthTestAgainstTerrain = true;

		// 기본 레이어 랜더링
		setTimeout(function(){
			MAGO.map = new mapInit(magoInstance, MAGO.baseLayers, geoPolicyJson);
			MAGO.map.initLayer();
			cesiumCreditAlt(); 		// 웹 접근성
		}, geoPolicyJson.initDuration * 1000);

		// 툴바기능, 지도 컨트롤 이벤
		mapControllEventHandler(magoInstance);

		// 지도상에 데이터 다루는거
		MapDataControll(magoInstance);

		// 행정 구역 이동
        // DistrictControll(magoInstance);

		// 데이터
        dataGroupList();
        mapDataGroupList(1, null);
        mapDataInfoList(1, null, null, null);

		// 시뮬레이션
        var simul = Simulation(magoInstance);
		setTimeout(function() {
			SmltWater.runOnLoaded(simul.water);	
		},3000);


        // 사물인터넷
		if (MAGO.microService && MAGO.microService['SENSOR_THINGS']) {
			MAGO.sensorThings = new SensorThings(magoInstance);
			MAGO.sensorThings = MAGO.sensorThings.create();
			MAGO.sensorThings.setCameraMoveEvent();
			MAGO.sensorThings.initF4dData();
		}

		// 공간분석
		SpatialAnalysis(magoInstance);

        // 환경설정
        UserPolicy(magoInstance);

		// 이슈 등록
		MAGO.issueController = new IssueController(magoInstance);
	}
    // smart tiling data flyTo
    function gotoFly(longitude, latitude, altitude) {
        if(longitude === null || longitude === '' || latitude === null || latitude === '' || altitude === null || altitude === '') {
            alert(JS_MESSAGE["location.invalid"]);
            return;
        }

        gotoFlyAPI(MAGO3D_INSTANCE, longitude, latitude, 500, 3);
        hereIamMarker(longitude, latitude, altitude);
    }

    function flyTo(dataGroupId, dataKey) {
        if(dataGroupId === null || dataGroupId === '' || dataKey === null || dataKey === '') {
            alert(JS_MESSAGE["location.invalid"]);
            return;
        }

        //  searchDataAPI
         searchDataAPI(MAGO3D_INSTANCE, dataGroupId, dataKey);

         var node = MAGO3D_INSTANCE.getMagoManager().hierarchyManager.getNodeByDataKey(dataGroupId, dataKey);
         var geographic = node.data.bbox.geographicCoord;
         hereIamMarker(geographic.longitude, geographic.latitude, geographic.altitude);
    }

    var hereIamTimeOut;
    function hereIamMarker(longitude, latitude, altitude) {
        var magoManager = MAGO3D_INSTANCE.getMagoManager();
        if(!magoManager.speechBubble) {
            magoManager.speechBubble = new Mago3D.SpeechBubble();
        }
        var sb = magoManager.speechBubble;
        removeHearIam();
        if(hereIamTimeOut) {
            clearTimeout(hereIamTimeOut);
        }
        var commentTextOption = {
            pixel:12,
            color:'black',
            borderColor:'white',
            text: JS_MESSAGE["here.it.is"]
        }

        var img = sb.getPng([80,32],'#94D8F6', commentTextOption);

        var options = {
            positionWC    : Mago3D.ManagerUtils.geographicCoordToWorldPoint(longitude, latitude, parseFloat(altitude)+5),
            imageFilePath : img
        };

        var omId = new Date().getTime();
        var om = magoManager.objMarkerManager.newObjectMarker(options, magoManager);
        om.id = omId;
        om.hereIam = true;

        var effectOption = {
            effectType : "zMovement",
            durationSeconds : 9.9,
            zVelocity : 100,
            zMax : 30,
            zMin : 0
        };
        var effect = new Mago3D.Effect(effectOption);
        magoManager.effectsManager.addEffect(omId, effect);

        hereIamTimeOut = setTimeout(function() {
            removeHearIam();
        },10000);

        function removeHearIam() {
            magoManager.objMarkerManager.setMarkerByCondition(function(om){
                return !om.hereIam;
            });
        }
    }

    function flyToGroup(longitude, latitude, altitude, duration) {
        if(longitude === null || longitude === '' || latitude === null || latitude === '' || altitude === null || altitude === '') {
            alert(JS_MESSAGE["location.invalid"]);
            return;
        }
        gotoFlyAPI(MAGO3D_INSTANCE, parseFloat(longitude), parseFloat(latitude), parseFloat(altitude), parseFloat(duration));
    }
</script>
</body>
</html>
