<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<!-- 팝업레이어/데이터 정보 -->
<script id="data-info-source" type="text/x-handlebars-template">
	<button type="button" class="pop-sclose" onclick="Data3D.toggleLayer('data-info-dialog-dhtml'); $('#data-list-dhtml .datalist').removeClass('on');">
		<span class="blind" th:title="#{common.close}" th:text="#{common.close}"></span>
	</button>
	<div class="datalist">
		<h3 class="popup-data">{{dataName}}</h3>

{{#ifMatch dataGroupTarget 'admin'}}
		<span class="data-username" th:text="#{data.administrator}"></span>
{{else}}
	{{#ifMatch userId ../owner}}

	{{else}}
		<span class="data-username">{{userId}}</span>
	{{/ifMatch}}
{{/ifMatch}}

		<div class="data-group">
			<span class="ttl" th:text="#{data.group.name}"></span> {{dataGroupName}}
			<span class="gap"></span>
			<span class="ttl" th:text="#{common.data.type}"></span> {{dataType}}
		</div>
<!--
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox" />
				<span class="slider"></span>
			</label> 표시
		</div>
-->
	</div>
	<div class="thumbnail">
		<img src="{{thumbnailPath}}" th:alt="|#{common.thumbnail} #{common.image}|">
	</div>
	<div class="popup-datatype">
		<table>
			<caption th:title="#{data.dialog.caption}" th:text="#{data.dialog.caption}"></caption>
			<colgroup>
				<col width="37%" />
				<col width="63%" />
			</colgroup>
			<tr>
				<td th:text="#{data.group.name}"></td>
				<td class="ellipsis">{{dataGroupName}}</td>
			</tr>
			<tr>
				<td th:text="#{data.key}"></td>
				<td class="ellipsis">{{dataKey}}</td>
			</tr>
			<tr>
				<td th:text="#{common.data.type}"></td>
				<td class="ellipsis">{{dataType}}</td>
			</tr>
			<tr>
				<td th:text="#{data.group.user.id}"></td>
				<td class="ellipsis">{{dataType}}</td>
			</tr>
			<tr>
				<td th:text="#{common.sharing}"></td>
				<td class="ellipsis">
{{#ifMatch sharing 'common'}}
					<th:block th:text="#{common.common}"></th:block>
{{/ifMatch}}
{{#ifMatch sharing 'public'}}
					<th:block th:text="#{common.public}"></th:block>
{{/ifMatch}}
{{#ifMatch sharing 'private'}}
					<th:block th:text="#{common.private}"></th:block>
{{/ifMatch}}
{{#ifMatch sharing 'group'}}
					<th:block th:text="#{common.group}"></th:block>
{{/ifMatch}}
				</td>
			</tr>
			<tr>
				<td th:text="#{common.mapping.type}"></td>
				<td class="ellipsis">{{mappingType}}</td>
			</tr>
			<tr>
				<td th:text="#{common.longitude}"></td>
				<td class="ellipsis">{{longitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.latitude}"></td>
				<td class="ellipsis">{{latitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.altitude}"></td>
				<td class="ellipsis">{{altitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.heading}"></td>
				<td class="ellipsis">{{heading}}</td>
			</tr>
			<tr>
				<td th:text="#{common.pitch}"></td>
				<td class="ellipsis">{{pitch}}</td>
			</tr>
			<tr>
				<td th:text="#{common.roll}"></td>
				<td class="ellipsis">{{roll}}</td>
			</tr>
			<tr>
				<td th:text="#{common.meta.information}"></td>
				<td>{{metainfo}}</td>
			</tr>
			<tr>
				<td th:text="#{common.attribute}"></td>
				<td class="ellipsis">
{{#if attributeExist}}
					<a class="more-info" href="#" th:title="#{common.view}" th:text="#{common.view}" onclick="Data3D.detailDataAttribute('{{dataId}}', '{{dataGroupKey}}', '{{dataKey}}', '{{dataName}}'); return false;"></a>
{{else}}
					<th:block th:text="#{data.not.registered}"></th:block>
{{/if}}
				</td>
			</tr>
<!--
			<tr>
				<td th:text="#{common.object.attribute}"></td>
				<td class="ellipsis">
{{#if objectAttributeExist}}
					<a class="more-info" href="#" th:title="#{common.view}" th:text="#{common.view}" onclick="detailDataObjectAttribute('{{dataId}}', '{{dataName}}'); return false;"></a>
{{else}}
					<th:block th:text="#{data.not.registered}"></th:block>
{{/if}}
				</td>
			</tr>
-->
			<tr>
				<td th:text="#{common.description}"></td>
				<td class="ellipsis">{{description}}</td>
			</tr>
			<tr>
				<td th:text="#{common.updated}"></td>
				<td class="ellipsis">{{viewUpdateDate}}</td>
			</tr>
			<tr>
				<td th:text="#{common.created}"></td>
				<td class="ellipsis">{{viewInsertDate}}</td>
			</tr>
		</table>
	</div>
</script>
</html>