<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="data-list-source" type="text/x-handlebars-template">
{{#greaterThan dataList.length 0}}
{{#each dataList}}
<div class="datalist" onclick="Data3D.dataInfoPopupLayerOnOff('/datas/{{dataId}}', this)">
    <h3 class="data"><a href="#">{{dataName}}</a></h3>

    {{#ifMatch sharing 'common'}}
    <span class="legend co marL5">C</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'public'}}
    <span class="legend pu marL5">O</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'private'}}
    <span class="legend pr marL5">P</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'group'}}
    <span class="legend gr marL5">G</span>
    {{/ifMatch}}

    {{#ifMatch dataGroupTarget 'admin'}}
    <span class="data-username" th:text="#{data.administrator}"></span>
    {{else}}
        {{#ifMatch userId ../owner}}

        {{else}}
        <span class="data-username">{{userId}}</span>
        {{/ifMatch}}
    {{/ifMatch}}

    <div class="data-group">
        <span class="ttl" th:title="#{data.group.name.colon}" th:text="#{data.group.name.colon}"></span> {{dataGroupName}}
        <span class="gap"></span>
        {{#greaterThan dataType.length 0}}
        <span class="ttl" th:title="#{data.type.colon}" th:text="#{data.type.colon}"></span> {{dataType}}
        {{/greaterThan}}
    </div>

    <div class="data-go">
        {{#if tiling}}
        <a class="move" href="#" th:title="#{common.move}" th:text="#{common.move}" onclick="FlyTo.flyTo('{{longitude}}', '{{latitude}}', '{{altitude}}'); return false;"></a>
        {{else}}
        <a class="move" href="#" th:title="#{common.move}" th:text="#{common.move}" onclick="FlyTo.flyToBuilding('{{dataGroupId}}', '{{dataKey}}'); return false;"></a>
        {{/if}}
        <label class="switch">
            <input type="checkbox"
                   onchange="Data3D.dataOnOff('{{dataGroupId}}', '{{dataKey}}', {{tiling}}, this)"
                   {{#replace groupVisible true 'checked'}}{{/replace}} />
            <span class="slider"></span>
        </label>
        <label th:title="#{common.show}" th:text="#{common.show}"></label>
    </div>

</div>
<hr class="datalist-line" />
{{/each}}
{{else}}
<div class="datalist">
    <h3 class="data nodata" th:text="#{data.does.not.exist}"></h3>
</div>
{{/greaterThan}}
</script>
</html>