<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="data-content" class="data-contents sb-page" style="height: 100%;">
	<form id="search-data-form" th:object="${searchDataForm}" method="post" onsubmit="return false;">
		<input type="hidden" name="searchWord" value="data_name" />
		<input type="hidden" name="dataGroupId" value="0" />
		<input type="hidden" name="sharing" value="" />
		<input type="hidden" name="dataType" value="" />
		<!-- 데이터명 검색 -->
		<input type="text" name="searchValue" class="datasearch" placeholder="데이터명을 입력하세요"/>
		<a id="search-data" class="btn-datasearch" href="#"><span class="blind">데이터명 검색</span></a>
	</form>
	<!-- 전체-필터더보기 -->
	<div class="dataselect">
		<!--
		<form>
			<select class="dataselect-item">
				<option>전체</option>
				<option>1</option>
				<option>2</option>
			</select>
		</form>
		-->
		<a id="search-data-group" href="#" class="data-group-search">그룹 검색</a>
		<a id="search-data-filter" href="#" class="data-filter">필터 검색</a>
		<button id="search-data-reset" class="filter-clear">전체 초기화</button>
	</div>
	<dl class="legendWrap">
		<dt th:text="#{data.group.sharing}"></dt>
		<dd><span class="legend co">C</span><th:block th:text="#{common.common}"></th:block></dd>
		<dd><span class="legend pu">O</span><th:block th:text="#{common.public}"></th:block></dd>
		<dd><span class="legend pr">P</span><th:block th:text="#{common.private}"></th:block></dd>
		<dd><span class="legend gr">G</span><th:block th:text="#{common.group}"></th:block></dd>
	</dl>
	<!--<hr class="h5" />-->

	<!-- 전체건수-페이지 -->
	<div id="data-search-summary-dhtml"></div>
	<!-- datalist  -->
	<div id="data-list-dhtml" class="sb-page yScroll" style="max-height: calc(100% - 300px);"></div>
	<!-- paging -->
	<div id="data-paging-dhtml"></div>

	<div th:replace="~{/common/search-summary-template :: #search-summary-source}"></div>
	<div th:replace="~{/data/3d/data-template :: #data-list-source}"></div>
	<div th:replace="~{/common/pagination-template :: #pagination-source}"></div>

<!--
	<div class="datalist">
		<h3 class="data"><a href="#" onclick="view_layer('layer1');">계양구청</a></h3>
		<span class="legend co marL5">C</span>
		<span class="data-username">슈퍼관리자</span>
		<div class="data-group">
			<span class="ttl">그룹명</span> 인천계양
			<span class="gap"></span>
			<span class="ttl">파일타입</span> IFC
		</div>
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox"/>
				<span class="slider"></span>
			</label>
			<label>표시</label>
		</div>
	</div>
	<hr class="datalist-line" />
	<div class="datalist">
		<h3 class="data">계양구청</h3>
		<span class="legend pu marL5">O</span>
		<span class="data-username">관리자</span>
		<div class="data-group">
			<span class="ttl">그룹명</span> 인천계양
			<span class="gap"></span>
			<span class="ttl">파일타입</span> IFC
		</div>
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox"/>
				<span class="slider"></span>
			</label>
			<label>표시</label>
		</div>
	</div>
	<hr class="datalist-line" />
	<div class="datalist">
		<h3 class="data">계양푸르지오</h3>
		<span class="legend pr marL5">P</span>
		<span class="data-username">관리자</span>
		<div class="data-group">
			<span class="ttl">그룹명</span> 인천계양
			<span class="gap"></span>
			<span class="ttl">파일타입</span> IFC
		</div>
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox"/>
				<span class="slider"></span>
			</label>
			<label>표시</label>
		</div>
	</div>
	<hr class="datalist-line" />
	<div class="datalist">
		<h3 class="data">계양2블럭</h3>
		<span class="legend gr marL5">G</span>
		<span class="data-username">관리자</span>
		<div class="data-group">
			<span class="ttl">그룹명</span> 인천계양
			<span class="gap"></span>
			<span class="ttl">파일타입</span> IFC
		</div>
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox"/>
				<span class="slider"></span>
			</label>
			<label>표시</label>
		</div>
	</div>
	<hr class="datalist-line" />
-->
	<!-- /.datalist -->

</div>
</html>