<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<!-- 팝업레이어/데이터그룹 정보 -->
<script id="data-group-info-source" type="text/x-handlebars-template">
	<button type="button" class="pop-sclose" onclick="Data3D.toggleLayer('data-group-dialog-dhtml')">
		<span class="blind" th:title="#{common.close}" th:text="#{common.close}"></span>
	</button>
	<div class="datalist">
		<h3 class="popup-data">{{dataGroupName}}</h3>

{{#ifMatch dataGroupTarget 'admin'}}
		<span class="data-username" th:text="#{data.administrator}"></span>
{{else}}
	{{#ifMatch userId ../owner}}

	{{else}}
		<span class="data-username">{{userId}}</span>
	{{/ifMatch}}
{{/ifMatch}}

		<div class="data-group">
			<span class="ttl" th:text="#{data.group.target}"></span> {{dataGroupTarget}}
			<span class="gap"></span>
			<span class="ttl" th:text="#{data.group.sharing}"></span>

{{#ifMatch sharing 'common'}}
			<span class="legend co mar0">C</span>
{{/ifMatch}}
{{#ifMatch sharing 'public'}}
			<span class="legend pu mar0">O</span>
{{/ifMatch}}
{{#ifMatch sharing 'private'}}
			<span class="legend pr mar0">P</span>
{{/ifMatch}}
{{#ifMatch sharing 'group'}}
			<span class="legend gr mar0">G</span>
{{/ifMatch}}
		</div>
<!--
		<div class="data-go">
			<a class="move" href="">이동</a>
			<label class="switch">
				<input type="checkbox" />
				<span class="slider"></span>
			</label> 표시
		</div>
-->
	</div>
	<!--<div class="thumbnail"></div>-->
	<div class="popup-datatype">
		<table>
			<caption th:text="#{data.group.dialog.caption}"></caption>
			<colgroup>
				<col width="37%" />
				<col width="63%" />
			</colgroup>
			<tr>
				<td th:text="#{data.group.basic}"></td>
				<td class="col-data">
{{#if basic}}
					<th:block th:text="#{common.basic}"></th:block>
{{else}}
					<th:block th:text="#{common.option}"></th:block>
{{/if}}
				</td>
			</tr>

			<tr>
				<td th:text="#{data.group.available}"></td>
				<td class="col-data">
{{#if basic}}
					<th:block th:text="#{common.basic}"></th:block>
{{else}}
					<th:block th:text="#{common.option}"></th:block>
{{/if}}
				</td>
			</tr>
			<tr>
				<td th:text="#{converter.data.count}"></td>
				<td class="ellipsis">{{dataCount}}</td>
			</tr>
			<tr>
				<td th:text="#{common.longitude}"></td>
				<td class="ellipsis">{{longitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.latitude}"></td>
				<td class="ellipsis">{{latitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.altitude}"></td>
				<td class="ellipsis">{{altitude}}</td>
			</tr>
			<tr>
				<td th:text="#{common.moving.time}"></td>
				<td class="ellipsis">{{duration}}</td>
			</tr>
			<tr>
				<td th:text="#{common.meta.information}"></td>
				<td class="ellipsis">{{metainfo}}</td>
			</tr>
			<tr>
				<td th:text="#{common.description}"></td>
				<td class="ellipsis">{{description}}</td>
			</tr>
			<tr>
				<td th:text="#{common.updated}"></td>
				<td class="ellipsis">{{viewUpdateDate}}</td>
			</tr>
			<tr>
				<td th:text="#{common.created}"></td>
				<td class="ellipsis">{{viewInsertDate}}</td>
			</tr>
		</table>
	</div>
</script>
</html>