<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="data-list-source" type="text/x-handlebars-template">
{{#greaterThan dataList.length 0}}
{{#each dataList}}
<div class="datalist">
    <h3 class="data"><a href="#" onclick="detailDataInfo('/datas/{{dataId}}'); return false;">{{dataName}}</a></h3>

    {{#ifMatch sharing 'common'}}
    <span class="legend co marL5">C</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'public'}}
    <span class="legend pu marL5">O</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'private'}}
    <span class="legend pr marL5">P</span>
    {{/ifMatch}}
    {{#ifMatch sharing 'group'}}
    <span class="legend gr marL5">G</span>
    {{/ifMatch}}

    {{#ifMatch dataGroupTarget 'admin'}}
    <span class="data-username" th:text="#{data.administrator}"></span>
    {{else}}
        {{#ifMatch userId ../owner}}

        {{else}}
        <span class="data-username">{{userId}}</span>
        {{/ifMatch}}
    {{/ifMatch}}

    <div class="data-group">
        <span class="ttl">그룹명</span> {{dataGroupName}}
        <span class="gap"></span>
        {{#greaterThan dataType.length 0}}
        <span class="ttl">파일타입</span> {{dataType}}
        {{/greaterThan}}
    </div>

    <div class="data-go">
        {{#if tiling}}
        <a class="move" href="#" onclick="gotoFly('{{longitude}}', '{{latitude}}', '{{altitude}}'); return false;">이동</a>
        {{else}}
        <a class="move" href="#" onclick="flyTo('{{dataGroupId}}', '{{dataKey}}'); return false;">이동</a>
        {{/if}}
        <label class="switch">
            <input type="checkbox"
                   onchange="Data3D.dataOnOff('{{dataGroupId}}', '{{dataKey}}', '{{tiling}}', this)"
                   {{#replace groupVisible true 'checked'}}{{/replace}}/>
            <span class="slider"></span>
        </label>
        <label>표시</label>
    </div>

</div>
<hr class="datalist-line" />
{{/each}}
{{else}}
<div class="datalist">
    <h3 class="data">검색된 데이터가 없습니다.</h3>
</div>
{{/greaterThan}}

</script>
<!--
<script type="text/javascript">

    // smart tiling data flyTo
    function gotoFly(longitude, latitude, altitude) {
        if(longitude === null || longitude === '' || latitude === null || latitude === '' || altitude === null || altitude === '') {
            alert(JS_MESSAGE["location.invalid"]);
            return;
        }

        gotoFlyAPI(MAGO3D_INSTANCE, longitude, latitude, 500, 3);
        hereIamMarker(longitude, latitude, altitude);
    }

    function flyTo(dataGroupId, dataKey) {
        if(dataGroupId === null || dataGroupId === '' || dataKey === null || dataKey === '') {
            alert(JS_MESSAGE["location.invalid"]);
            return;
        }

        //  searchDataAPI
        searchDataAPI(MAGO3D_INSTANCE, dataGroupId, dataKey);

        var node = MAGO3D_INSTANCE.getMagoManager().hierarchyManager.getNodeByDataKey(dataGroupId, dataKey);
        var geographic = node.data.bbox.geographicCoord;
        hereIamMarker(geographic.longitude, geographic.latitude, geographic.altitude);
    }

    var hereIamTimeOut;
    function hereIamMarker(longitude, latitude, altitude) {
        var magoManager = MAGO3D_INSTANCE.getMagoManager();
        if(!magoManager.speechBubble) {
            magoManager.speechBubble = new Mago3D.SpeechBubble();
        }
        var sb = magoManager.speechBubble;
        removeHearIam();
        if(hereIamTimeOut) {
            clearTimeout(hereIamTimeOut);
        }
        var commentTextOption = {
            pixel:12,
            color:'black',
            borderColor:'white',
            text: JS_MESSAGE["here.it.is"]
        }

        var img = sb.getPng([80,32],'#94D8F6', commentTextOption);

        var options = {
            positionWC    : Mago3D.ManagerUtils.geographicCoordToWorldPoint(longitude, latitude, parseFloat(altitude)+5),
            imageFilePath : img
        };

        var omId = new Date().getTime();
        var om = magoManager.objMarkerManager.newObjectMarker(options, magoManager);
        om.id = omId;
        om.hereIam = true;

        var effectOption = {
            effectType : "zMovement",
            durationSeconds : 9.9,
            zVelocity : 100,
            zMax : 30,
            zMin : 0
        };
        var effect = new Mago3D.Effect(effectOption);
        magoManager.effectsManager.addEffect(omId, effect);

        hereIamTimeOut = setTimeout(function() {
            removeHearIam();
        },10000);

        function removeHearIam() {
            magoManager.objMarkerManager.setMarkerByCondition(function(om){
                return !om.hereIam;
            });
        }
    }

    // 데이터 정보 다이얼 로그
    var dataInfoDialog = $( "#dataInfoDialogDHTML" ).dialog({
        autoOpen: false,
        width: 500,
        height: 720,
        modal: true,
        overflow : "auto",
        resizable: false
    });

    //데이터 상세 정보 조회
    function detailDataInfo(url) {
        dataInfoDialog.dialog( "open" );
        $.ajax({
            url: url,
            type: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            dataType: "json",
            success: function(msg){
                if(msg.statusCode <= 200) {
                    dataInfoDialog.dialog( "option", "title", msg.dataInfo.dataName + JS_MESSAGE["more.information"]);

                    var template = Handlebars.compile($("#dataInfoSource").html());
                    var dataInfoHtml = template(msg.dataInfo);

                    $("#dataInfoDialogDHTML").html("").append(dataInfoHtml);
                } else {
                    alert(JS_MESSAGE[msg.errorCode]);
                }
            },
            error:function(request,status,error){
                alert(JS_MESSAGE["ajax.error.message"]);
            }
        });
    }

    // 데이터 속성 다이얼 로그
    var dataAttributeDialog = $( "#dataAttributeDialog" ).dialog({
        autoOpen: false,
        width: 600,
        height: 350,
        modal: true,
        resizable: false
    });
    // 부산 데이터 속성용 다이얼 로그
    var sampleDataAttributeDialog = $( "#sampleDataAttributeDialogDHTML" ).dialog({
        autoOpen: false,
        width: 500,
        height: 600,
        modal: true,
        resizable: false
    });

    // 데이터 속성
    function detailDataAttribute(dataId, dataGroupKey, dataKey, dataName) {
        if(	dataGroupKey !== "busan-mj" ) {
            dataAttributeDialog.dialog( "open" );
            $("#dataNameForAttribute").html(dataName);
            $.ajax({
                url: "/datas/attributes/" + dataId,
                type: "GET",
                headers: {"X-Requested-With": "XMLHttpRequest"},
                dataType: "json",
                success: function(msg){
                    if(msg.statusCode <= 200) {
                        if(msg.dataAttribute !== null) {
                            //$("#dataAttributeForOrigin").html(msg.dataAttribute.attributes);
                            $("#dataAttributeViewer").html("");
                            var jsonViewer = new JSONViewer();
                            document.querySelector("#dataAttributeViewer").appendChild(jsonViewer.getContainer());
                            jsonViewer.showJSON(JSON.parse(msg.dataAttribute.attributes), -1, -1);
                        }
                    } else {
                        alert(JS_MESSAGE[msg.errorCode]);
                    }
                },
                error:function(request,status,error){
                    alert(JS_MESSAGE["ajax.error.message"]);
                }
            });
        } else {
            sampleDataAttributeDialog.dialog( "open" );
            $.ajax({
                url: "/attribute-repository/" + dataKey,
                type: "GET",
                headers: {"X-Requested-With": "XMLHttpRequest"},
                dataType: "json",
                success: function(msg){
                    if(msg.statusCode <= 200) {
                        if(msg.attributeRepository !== null) {
                            var template = Handlebars.compile($("#sampleDataAttributeSource").html());
                            var html = template(msg.attributeRepository);
                            $("#sampleDataAttributeDialogDHTML").html("").append(html);
                        }
                    } else {
                        alert(JS_MESSAGE[msg.errorCode]);
                    }
                },
                error:function(request,status,error){
                    alert(JS_MESSAGE["ajax.error.message"]);
                }
            });
        }
    }

    // 데이터 Object 속성 다이얼 로그
    var dataObjectAttributeDialog = $( "#dataObjectAttributeDialog" ).dialog({
        autoOpen: false,
        width: 800,
        height: 550,
        modal: true,
        resizable: false
    });

    // 데이터 Object 속성
    function detailDataObjectAttribute(dataId, dataName) {
        dataObjectAttributeDialog.dialog( "open" );
        $("#dataNameForObjectAttribute").html(dataName);

        $.ajax({
            url: "/datas/object/attributes/" + dataId,
            type: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            dataType: "json",
            success: function(msg){
                if(msg.statusCode <= 200) {
                    if(msg.dataObjectAttribute !== null) {
                        //$("#dataObjectAttributeForOrigin").html(msg.dataObjectAttribute.attributes);
                        $("#dataObjectAttributeViewer").html("");
                        var jsonViewer = new JSONViewer();
                        document.querySelector("#dataObjectAttributeViewer").appendChild(jsonViewer.getContainer());
                        jsonViewer.showJSON(JSON.parse(msg.dataObjectAttribute.attributes), -1, -1);
                    }
                } else {
                    alert(JS_MESSAGE[msg.errorCode]);
                }
            },
            error:function(request,status,error){
                alert(JS_MESSAGE["ajax.error.message"]);
            }
        });
    }

</script>
-->
</html>