<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<form id="issueForm" name="issueForm" method="post" onsubmit="return false;">
	<input type="hidden" id="issueDataId" name="issueDataId" value="" />
	<input type="hidden" id="issueDataKey" name="issueDataKey" value="" />
	<input type="hidden" id="issueObjectKey" name="issueObjectKey" value="" />
	<input type="hidden" id="issueDataGroupId" name="issueDataGroupId" value="" />
<div id="issueDialog" class="basicTable" style="display: none;" title="이슈 등록" >
	<table summary="이슈 등록 테이블">
	<caption class="hiddenTag">이슈 등록</caption>
		<col class="col-label" style="width: 100px;" />
		<col class="col-data" />
		<tr style="height: 30px;">
			<th class="col-label" scope="row">데이터 그룹명</th>
			<td id="issueDataGroupName" class="col-data ellipsis">
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">데이터명</th>
			<td id="issueDataName" class="col-data">
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">경도</th>
			<td class="col-data">
				<label for="issueLongitude" class="hiddenTag">경도</label>
				<input type="text" id="issueLongitude" name="issueLongitude" readonly="readonly" size="25" style="background-color: #CBCBCB;" />
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">위도</th>
			<td class="col-data">
				<label for="issueLatitude" class="hiddenTag">위도</label>
				<input type="text" id="issueLatitude" name="issueLatitude" readonly="readonly" size="25" style="background-color: #CBCBCB;" />
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">높이</th>
			<td class="col-data">
				<label for="issueAltitude" class="hiddenTag">높이</label>
				<input type="text" id="issueAltitude" name="issueAltitude" readonly="readonly" size="25" style="background-color: #CBCBCB;" />
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">제목</th>
			<td class="col-data">
				<label for="issueTitle" class="hiddenTag">제목</label>
				<textarea id="issueTitle" name="issueTitle" rows="2" cols="47"></textarea>
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row">내용</th>
			<td class="col-data">
				<label for="issueContents" class="hiddenTag">내용</label>
				<textarea id="issueContents" name="issueContents" rows="5" cols="47"></textarea>
			</td>
		</tr>
	</table>
	
	<div class="btns" style="margin-top: 10px;">
		<button type="button" id="issueSaveButton" onclick="insertIssue(); return false;" class="focusA btn-full" th:text="#{common.save}"></button>
	</div>
</div>
</form>
<script type="text/javascript">

	// 이슈 등록 버튼 클릭
	$("#issueButton").click(function() {
		$('#issueTitle,#issueContents').prop('readonly',false);
		$('#issueSaveButton').parent('.btns').show();
		issueDialog.dialog( "open" );
		issueDialog.dialog( "option", "title", JS_MESSAGE["issue.register"]);
	});

	// 이슈 다이얼 로그
	var issueDialog = $( "#issueDialog" ).dialog({
		autoOpen: false,
		width: 500,
		height: 500,
		modal: true,
		overflow : "auto",
		resizable: false
	});

	// 이슈 상세 정보 조회
	function detailIssueInfo(issueId) {
		$.ajax({
			url: "/issues/" + issueId,
			type: "GET",
			headers: {"X-Requested-With": "XMLHttpRequest"},
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					issueDialog.dialog( "open" );
					issueDialog.dialog( "option", "title", JS_MESSAGE["issue.details"]);
					$('#issueSaveButton').parent('.btns').hide();

					$('#issueTitle,#issueContents').prop('readonly',true);

					var issue = msg.issue;
					$('#issueDataGroupName').text(issue.dataGroupName);
					$('#issueDataName').text(issue.dataKey);
					$('#issueLongitude').val(issue.longitude);
					$('#issueLatitude').val(issue.latitude);
					$('#issueAltitude').val(issue.altitude);
					$('#issueTitle').val(issue.title);
					$('#issueContents').val(issue.contents);
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
				}
			},
			error:function(request,status,error){
				alert(JS_MESSAGE["ajax.error.message"]);
			}
		});
	}

	// 이슈 등록
	var insertIssueFlag = true;
	function insertIssue() {
		if (validate() == false) {
			return false;
		}
		if(insertIssueFlag) {
			insertIssueFlag = false;
			var lon = $("#issueLongitude").val();
			var lat = $("#issueLatitude").val();
			var alt = $("#issueAltitude").val();
			$.ajax({
				url: "/issues",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: { "dataId" : $("#issueDataId").val(), "dataGroupId" : $("#issueDataGroupId").val(),
					"dataKey" : $("#issueDataKey").val(), "dataGroupName" : $("#issueDataGroupName").val(), "objectKey" : $("#issueObjectKey").val(),
					"longitude" : lon, "latitude" : lat, "altitude" : alt,
					"title" : $("#issueTitle").val(), "contents" : $("#issueContents").val()
				},
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["insert"]);
						insertIssueFlag = true;
						issueDialog.dialog('close');

						MAGO.issueController.addIssue({
							longitude : parseFloat(lon),
							latitude : parseFloat(lat),
							altitude : parseFloat(alt),
							issueId : msg.issueId
						});
						/* var magoManager = this.magoInstance.getMagoManager();
						if(Array.isArray(issue)) {
							for(var i in issue) {
								this.addIssue(issue[i]);
							}
						} else {
							var point = Mago3D.ManagerUtils.geographicCoordToWorldPoint(issue.longitude,issue.latitude,issue.altitude);
							option.positionWC = point;

							var objMarker = magoManager.objMarkerManager.newObjectMarker(option, magoManager);
							objMarker.issueId = issue.issueId;
						} */
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					insertIssueFlag = true;
				},
				error:function(request, status, error){
					alert(JS_MESSAGE["ajax.error.message"]);
					insertIssueFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
			return;
		}
	}

	function validate() {
		if ($("#issueTitle").val() === "") {
			alert(JS_MESSAGE["issue.title.empty"]);
			$("#issueTitle").focus();
			return false;
		}
		if ($("#issueContents").val() === "") {
			alert(JS_MESSAGE["issue.content.empty"]);
			$("#issueContents").focus();
			return false;
		}
	}
</script>
</html>