HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/src/main/webapp/sample/f4d/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/bin/
mago3d-admin/src/main/java/gaia3d/geospatial/ShapeFileParser.java.bak
mago3d-admin/src/main/java/gaia3d/interceptor/ConfigInterceptor.java.bak
mago3d-admin/src/main/java/gaia3d/interceptor/LogInterceptor.java.bak
mago3d-admin/src/main/java/gaia3d/interceptor/SecurityInterceptor.java.bak
mago3d-admin/src/main/java/gaia3d/parser/impl/DataSmartTilingFileJsonParser.java.bak
mago3d-admin/src/main/java/gaia3d/persistence/LayerFileInfoMapper.java.bak
mago3d-admin/src/main/java/gaia3d/persistence/RoleMapper.java.bak
mago3d-admin/src/main/java/gaia3d/persistence/UserGroupMapper.java.bak
mago3d-admin/src/main/java/gaia3d/service/impl/AccessLogServiceImpl.java.bak
mago3d-admin/src/main/java/gaia3d/service/impl/AMQPPublishServiceImpl.java.bak
mago3d-admin/src/main/java/gaia3d/service/impl/ConverterServiceImpl.java.bak
mago3d-admin/src/main/java/gaia3d/service/impl/DataAttributeServiceImpl.java.bak
weather/src/test/resources/OBS-QWM_2019090809.grib2.gbx9
weather/src/test/resources/OBS-QWM_2019090809.grib2.ncx4
weather/src/test/resources/OBS-QWM_2019100700.grb2.gbx9
weather/src/test/resources/OBS-QWM_2019100700.grb2.ncx4
