<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>Rule 등록</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div id="siteBody" class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<form id="rule" method="post" action="" onsubmit="return false;">
							<input type="hidden" id="ruleGroupId" name="ruleGroupId" th:value="${ruleGroup.ruleGroupId}" />

						<table class="input-table scope-row" summary="교량 Rule 등록">
						<caption class="hiddenTag">교량 Rule등록</caption>
							<col class="col-label l" />
							<col class="col-input" />
							<tr>
								<th class="col-label l" scope="row">
									<label for="ruleType">타입</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="ruleType" name="ruleType" class="selectBoxClass" >
										<option value="data_library"> 데이터 라이브러리 </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									룰 그룹명
								</th>
								<td class="col-input"><th:block th:text="${ruleGroup.ruleGroupName}"></th:block></td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="ruleName">룰명</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input"><input type="text" id="ruleName" name="ruleName" class="l" size="70" /></td>
							</tr>
							<tr>
								<th class="col-label" scope="row">
									<label for="ruleKey">룰 Key(영문,숫자,-,_)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="ruleKey" name="ruleKey" class="l" />
									<input type="button" id="duplicationButton" th:value="#{overlap.check}" />
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									용도
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input radio-set">
									<input type="radio" id="assembleFalse" name="assemble" value="false" checked />
									<label for="assembleFalse">단일형</label>
									<input type="radio" id="assembleTrue" name="assemble" value="true"/>
									<label for="assembleTrue">복합형</label>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									사용 여부
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input radio-set">
									<input type="radio" id="availableTrue" name="available" value="true" checked />
									<label for="availableTrue">사용</label>
									<input type="radio" id="availableFalse" name="available" value="false" />
									<label for="availableFalse">미사용</label>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									그리기 유형
								</th>
								<td class="col-input">
									<select id="drawType" name="drawType" class="selectBoxClass">
										<option th:value="point"> 점(Point) </option>
										<option th:value="line"> 라인(Line) </option>
										<option th:value="both"> 혼합(Point, Line) </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="upperPlateId">교량 상판 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="upperPlateId" name="upperPlateId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="middlePlateId">교량 중판 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="middlePlateId" name="middlePlateId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="lowerPlateId">교량 하판 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="lowerPlateId" name="lowerPlateId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="upperPlateCopyableId">상판 복제 대상 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="upperPlateCopyableId" name="upperPlateCopyableId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="middlePlateCopyableId">중판 복제 대상 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="middlePlateCopyableId" name="middlePlateCopyableId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="lowerPlateCopyableId">하판 복제 대상 데이터 라이브러리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="lowerPlateCopyableId" name="lowerPlateCopyableId" class="selectBoxClass">
										<th:block th:unless="${#lists.isEmpty(dataLibraryList)}" th:each="dataLibrary : ${dataLibraryList}">
											<option th:value="${dataLibrary.dataLibraryId}"><th:block th:text="${dataLibrary.dataLibraryName}"></th:block></option>
										</th:block>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="widthUpperPlateCopyValue">상판 복제 길이(가로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="widthUpperPlateCopyValue" name="widthUpperPlateCopyValue" class="m" />
									<select id="widthUpperPlateCopyUnit" name="widthUpperPlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="heightUpperPlateCopyValue">상판 복제 길이(세로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="heightUpperPlateCopyValue" name="heightUpperPlateCopyValue" class="m" />
									<select id="heightUpperPlateCopyUnit" name="heightUpperPlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="widthMiddlePlateCopyValue">중판 복제 길이(가로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="widthMiddlePlateCopyValue" name="widthMiddlePlateCopyValue" class="m" />
									<select id="widthMiddlePlateCopyUnit" name="widthMiddlePlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="heightMiddlePlateCopyValue">중판 복제 길이(세로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="heightMiddlePlateCopyValue" name="heightMiddlePlateCopyValue" class="m" />
									<select id="heightMiddlePlateCopyUnit" name="heightMiddlePlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="widthLowerPlateCopyValue">하판 복제 길이(가로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="widthLowerPlateCopyValue" name="widthLowerPlateCopyValue" class="m" />
									<select id="widthLowerPlateCopyUnit" name="widthLowerPlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="heightLowerPlateCopyValue">하판 복제 길이(세로)</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="heightLowerPlateCopyValue" name="heightLowerPlateCopyValue" class="m" />
									<select id="heightLowerPlateCopyUnit" name="heightLowerPlateCopyUnit" class="selectBoxClass" style="margin-left: 7px;">
										<option value="m"> M </option>
										<option value="m"> CM </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="upperPlateShortLenthHandling">상판 길이가 모자랄때 처리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="upperPlateShortLenthHandling" name="upperPlateShortLenthHandling" class="selectBoxClass">
										<option value="ceil"> 올림 </option>
										<option value="floor"> 버림 </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="middlePlateShortLenthHandling">중판 길이가 모자랄때 처리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="middlePlateShortLenthHandling" name="middlePlateShortLenthHandling" class="selectBoxClass">
										<option value="ceil"> 올림 </option>
										<option value="floor"> 버림 </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<label for="lowerPlateShortLenthHandling">하판 길이가 모자랄때 처리</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<select id="lowerPlateShortLenthHandling" name="lowerPlateShortLenthHandling" class="selectBoxClass">
										<option value="ceil"> 올림 </option>
										<option value="floor"> 버림 </option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row"><label for="description">설명</label></th>
								<td class="col-input"><input type="text" id="description" name="description" class="xl" size="100" /></td>
							</tr>
						</table>
						<div class="button-group">
							<div id="insertRoleLink" class="center-buttons">
								<input type="submit" value="저장" onclick="insert();" />
								<a href="/rule/list" class="button">목록</a>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="pageCustomScript">

	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

<script th:inline="javascript">
	$("#ruleKey").keyup(function(event) {
		var inputValue = $(this).val();
		if(isHangul(inputValue)) {
			alert("Rule Key는 영문 및 숫자만 입력 가능 합니다.");
			return;
		}
	});

	// 룰 키 중복 확인
	$( "#duplicationButton" ).on( "click", function() {
		var ruleKey = $("#ruleKey").val();
		if (ruleKey == "") {
			alert("Rule 키(한글불가)를 입력해 주세요.");
			$("#ruleKey").focus();
			return false;
		}

		var ruleKeyExpress = /^[a-zA-Z0-9-_]+$/;
		if (!ruleKeyExpress.test(document.getElementById("ruleKey").value)) {
			alert("Rule 키(한글불가)가 올바르지 않습니다.");
			return false;
		}

		var formData = "ruleKey=" + ruleKey;
		$.ajax({
			url: "/rules/duplication",
			type: "GET",
			headers: {"X-Requested-With": "XMLHttpRequest"},
			data: formData,
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					if(msg.duplication == true) {
						alert(JS_MESSAGE["rule.key.duplication"]);
						$("#ruleKey").focus();
						return false;
					} else {
						alert(JS_MESSAGE["rule.key.enable"]);
						$("#duplication").val(msg.duplication);
					}
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
					console.log("---- " + msg.message);
				}
			},
			error:function(request, status, error) {
				//alert(JS_MESSAGE["ajax.error.message"]);
				alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			}
		});
	});

	function validate() {
		if( $("#ruleName").val().trim() === "" ) {
			alert("Rule 명을 입력하여 주십시오.");
			$("#ruleName").focus();
			return false;
		}
		else if( $("#ruleKey").val().trim() === "" ) {
			alert("Rule Key를 입력하여 주십시오.");
			$("#ruleKey").focus();
			return false;
		}
	}

	// 저장
	var insertRuleFlag = true;
	function insert() {
		if (validate() == false) {
			return false;
		}
		if(insertRuleFlag) {
			insertRuleFlag = false;
			var formData = $("#rule").serialize();
			$.ajax({
				url: "/rules/bridges",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["insert"]);
						//window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					insertRuleFlag = true;
				},
				error:function(request, status, error){
					alert(JS_MESSAGE["ajax.error.message"]);
					insertRuleFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
		}
	}
</script>
</th:block>
</body>
</html>