<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title><th:block th:text="#{signup.complete.page.title}"></th:block></title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/display.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
</head>
<body class="bggray">
<div>
	<div style="text-align: center;">
		<img th:src="@{/images/{lang}/mago3d_logo.png(lang=${lang})}" alt="디지털트윈 플랫폼, mago3D 로고" style="margin-top: 50px;"/>
		<p class="stitle" style="margin-top: 30px;">실내외 3차원 통합 플랫폼, <span class="mago">mago3D</span>와 함께 디지털 트윈 세상으로!</p>
		<p class="stitle" style="margin-top: 5px; font-size: 30px"><U>멤버십 안내</U></p>
	</div>

	<div id="membership-item" style="background: #a6d2ff; left:10%;">
		<div style="height: 100px; width: 100%; text-align: center; margin-top: 20px;">
			<h1>BASIC</h1>
		</div>
		<div class="login-wrapper" style=" height: 300px; text-align: left;">
			<table style="margin-left: 20px; height: 50%; width: 60%; font-size: 20px;">
				<tr>
					<td>업로드 가능 용량</td>
					<td>100MB</td>
				</tr>
				<tr>
					<td>변환 가능 건수</td>
					<td>10건</td>
				</tr>
				<tr>
					<td>가격</td>
					<td>무료</td>
				</tr>
			</table>
			<div style="width: 65%; text-align: center;">
				<a type="button" href="/membership/insert/log/1" class="btn-go" style="margin-top: 50px; width: 65%; text-align: center;">등록하기</a>
			</div>
		</div>
	</div>
	<div id="membership-item" style="background: #d9d8d8; left:30%;">
		<div style="height: 100px; width: 100%; text-align: center; margin-top: 20px;">
			<h1>SILVER</h1>
		</div>
		<div class="login-wrapper" style=" height: 300px; text-align: left;">
			<table style="margin-left: 20px; height: 50%; width: 60%; font-size: 20px;">
				<tr>
					<td>업로드 가능 용량</td>
					<td>1GB</td>
				</tr>
				<tr>
					<td>변환 가능 건수</td>
					<td>30건</td>
				</tr>
				<tr>
					<td>가격</td>
					<td>무료</td>
				</tr>
			</table>
			<div style="width: 65%; text-align: center;">
				<a type="button" href="/membership/insert/log/2" class="btn-go" style="margin-top: 50px; width: 65%; text-align: center;">등록하기</a>
			</div>
		</div>
	</div>
	<div id="membership-item" style="background: gold; left:50%;">
		<div style="height: 100px; width: 100%; text-align: center; margin-top: 20px;">
			<h1>GOLD</h1>
		</div>
		<div class="login-wrapper" style=" height: 300px; text-align: left;">
			<table style="margin-left: 20px; height: 50%; width: 60%; font-size: 20px;">
				<tr>
					<td>업로드 가능 용량</td>
					<td>5GB</td>
				</tr>
				<tr>
					<td>변환 가능 건수</td>
					<td>50건</td>
				</tr>
				<tr>
					<td>가격</td>
					<td>무료</td>
				</tr>
			</table>
			<div style="width: 65%; text-align: center;">
				<a type="button" href="/membership/insert/log/3" class="btn-go" style="margin-top: 50px; width: 65%; text-align: center;">등록하기</a>
			</div>
		</div>
	</div>
	<div id="membership-item" style="background: mediumpurple; left:70%;">
		<div style="height: 100px; width: 100%; text-align: center; margin-top: 20px;">
			<h1>PLATINUM</h1>
		</div>
		<div class="login-wrapper" style=" height: 300px; text-align: left;">
			<table style="margin-left: 20px; height: 50%; width: 60%; font-size: 20px;">
				<tr>
					<td>업로드 가능 용량</td>
					<td>10GB</td>
				</tr>
				<tr>
					<td>변환 가능 건수</td>
					<td>100건</td>
				</tr>
				<tr>
					<td>가격</td>
					<td>무료</td>
				</tr>
			</table>
			<div style="width: 65%; text-align: center;">
				<a type="button" href="/membership/insert/log/4" class="btn-go" style="margin-top: 50px; width: 65%; text-align: center;">등록하기</a>
			</div>
		</div>
	</div>
</div>
<div class="copyright" style="margin-top: 30%">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</body>
</html>
