<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title><th:block th:text="#{signup.complete.page.title}"></th:block></title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/display.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<style>

		.membership-title{
			list-style: none;
			font-size: 20px;
		}
		.membership-item{
			list-style: none;
			font-size: 15px;

		}
	</style>
	<style>
		table {
			width: 1000px;
			height: 200px;
			border: 1px solid #444444;
			border-radius: 50%;
		}
		td {
			text-align: center;
			font-size: 15px;
			border-left: 1px solid #444444;
		}
		th {
			font-size: 20px;
			border: 1px solid #444444;
		}
		#membershipTable {
			display: grid;
			place-items: center;
			min-height: 100vh;
		}
	</style>
</head>
<body class="bggray">
	<div id="membershipTable">
		<table>
			<thead>
			<tr>
				<th>일반</th>
				<th>실버</th>
				<th>골드</th>
				<th>플래티넘</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>용량</td>
				<td>용량</td>
				<td>용량</td>
				<td>용량</td>
			</tr>
			<tr>
				<td>건수</td>
				<td>건수</td>
				<td>건수</td>
				<td>건수</td>
			</tr>
			<tr>
				<td>가격</td>
				<td>가격</td>
				<td>가격</td>
				<td>가격</td>
			</tr>
			<tr>
				<td><a type="button" href="/membership/insert/log/1">등록하기</a></td>
				<td><a type="button" href="/membership/insert/log/2">등록하기</a></td>
				<td><a type="button" href="/membership/insert/log/3">등록하기</a></td>
				<td><a type="button" href="/membership/insert/log/4">등록하기</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</body>

</html>
