<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="layer-list-source" type="text/x-handlebars-template">
	{{#ifMatch depth 1}}
	<div class="data-layer" data-depth="{{layerGroupId}}" onclick="Data2D.collapseTree({{layerGroupId}}, this)">
		<span class="data-layer-ttl">{{layerGroupName}}</span>
		<span class="view-option">
			<label class="switch" onclick="event.stopImmediatePropagation();event.stopPropagation();">
				<input type="checkbox" onchange="Data2D.layerGroupOnOff({{layerGroupId}}, this)"/>
				<span class="slider"></span>
			</label>
			<span>켜기</span>
		</span>
	</div>
	{{/ifMatch}}
	{{#ifMatch depth 2}}
	<div class="data-layer" data-depth="{{layerGroupId}}" data-ancestor="{{ancestor}}" onclick="Data2D.collapseTree({{layerGroupId}}, this)">
		<span class="data-layer-ttl">{{layerGroupName}}</span>
		<span class="view-option">
			<label class="switch" onclick="event.stopImmediatePropagation();event.stopPropagation();">
				<input type="checkbox" onchange="Data2D.layerGroupOnOff({{layerGroupId}}, this, event)"/>
				<span class="slider"></span>
			</label>
			<span>켜기</span>
		</span>
	</div>
	<!--
		<li class="mapLayer" data-depth="{{layerGroupId}}" data-ancestor="{{ancestor}}">
		<p class="ellipsis"><span class="folder"></span>{{layerGroupName}}</p>
		<ul>
	-->
	{{/ifMatch}}
	{{#ifMatch depth 3}}
	<div class="data-layer" data-depth="{{layerGroupId}}" data-ancestor="{{ancestor}}" onclick="Data2D.collapseTree({{layerGroupId}}, this)">
		<span class="data-layer-ttl">{{layerGroupName}}</span>
		<span class="view-option">
			<label class="switch" onclick="event.stopImmediatePropagation();event.stopPropagation();">
				<input type="checkbox" onchange="Data2D.layerGroupOnOff({{layerGroupId}}, this, event)"/>
				<span class="slider"></span>
			</label>
			<span>켜기</span>
		</span>
	</div>
	<!--
		<li class="mapLayer" data-depth="{{layerGroupId}}" data-ancestor="{{ancestor}}">
		<p class="ellipsis"><span class="depthThree"></span>{{layerGroupName}}</p>
		<ul>
	-->
	{{/ifMatch}}
	{{#if layerList}}
	<div class="data-layerlist-bx" data-parent="{{layerGroupId}}">
		{{#each layerList}}
		<div class="data-layerlist {{serviceType}}Layer"
			 data-depth="{{layerId}}"
			 data-parent="{{layerGroupId}}"
			 data-ancestor="{{../ancestor}}"
			 data-layer-key="{{layerKey}}">
			<span class="data-layerlist-ttl">{{layerName}}</span>
			<span class="view-option">
				<label class="switch">
					<input type="checkbox"
						   onchange="Data2D.layerOnOff('{{layerKey}}', this, event)"
						   {{#replace defaultDisplay true 'checked'}}{{/replace}} />
					<span class="slider"></span>
				</label>
				<span>켜기</span>
				<a class="move" href="#" onclick="Data2D.move({{layerId}})">이동</a>
			</span>
		</div>
		{{/each}}
	</div>
	{{/if}}
</script>
</html>