<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="layerContent" class="sb-page" style="display:none;">
	<!-- datalist  -->
	<div class="data-layer">
		<span class="data-layer-ttld">대전</span>
		<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
								</span>
	</div>
	<div class="data-layer">
		<span class="data-layer-ttl">배경영상</span>
		<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
								</span>
	</div>
	<div class="data-layerlist-bx">
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">항공영상 세종</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">부산 강서구 세종</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">항공영상_부산_scm 세종</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
	</div>
	<div class="data-layer">
		<span class="data-layer-ttl">세종</span>
		<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
								</span>
	</div>
	<div class="data-layerlist-bx">
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">가구획지</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">토지이용 Blocktype별</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">토지이용</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
	</div>
	<div class="data-layer">
		<span class="data-layer-ttld">인천</span>
		<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
								</span>
	</div>
	<div class="data-layer">
		<span class="data-layer-ttl">행정구역</span>
		<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
								</span>
	</div>
	<div class="data-layerlist-bx">
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">행정구역시도</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">행정구역 시군구</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
		<div class="data-layerlist">
			<span class="data-layerlist-ttl">행정구역 읍면동</span>
			<span class="view-option">
									<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
									</label> 켜기
									<a class="move" href="">이동</a>
								</span>
		</div>
	</div>
	<!-- /.datalist -->
	<hr class="h10" />
	<!-- /버튼 -->
	<div class="right-area margin-r20">
		<button type="button" class="btn m-btn general"/>설정 저장</button>
	</div>
	<!-- paging -->
	<div class="paging">
		<div class="paging-wrapper">
			<a class="pre01"></a>
			<a class="pre"></a>
			<a class="current">1</a>
			<a class="lnk">2</a>
			<a class="lnk">3</a>
			<a class="lnk">4</a>
			<a class="lnk">5</a>
			<a class="next"></a>
			<a class="next01"></a>
		</div>
	</div>
	<!-- /.paging -->
</div>
</html>