@charset "utf-8";

/* 웹폰트-노토산스 */
@font-face {
font-family: 'NotoKrL';
font-style: normal;
font-weight: 200;
src:url("./font/NotoSans-Light.eot");
src:url("./font/NotoSans-Light.eot?#iefix") format('embedded-opentype'),
url("./font/NotoSans-Light.woff2") format('woff2'),
url("./font/NotoSans-Light.woff") format('woff'),
url("./font/NotoSans-Light.ttf") format('truetype');
}
@font-face {
font-family: 'NotoKrR';
font-style: normal;
font-weight: 100;
src: url("./font/NotoSans-Regular.eot");
src: url("./font/NotoSans-Regular.eot?#iefix") format('embedded-opentype'),
url("./font/NotoSans-Regular.woff2") format('woff2'),
url("./font/NotoSans-Regular.woff") format('woff'),
url("./font/NotoSans-Regular.ttf") format('truetype');
}
@font-face {
font-family: 'NotoKrM';
font-style: normal;
font-weight: 500;
src: local('Noto Sans Medium'), local('NotoSans-Medium'); 
src: url("./font/NotoSans-Medium.eot");
src: url("./font/NotoSans-Medium.eot?#iefix") format('embedded-opentype'),
url("./font/NotoSans-Medium.woff2") format('woff2'),
url("./font/NotoSans-Medium.woff") format('woff'),
url("./font/NotoSans-Medium.ttf") format('truetype');
}
@font-face {
font-family: 'NotoKrB';
font-style: normal;
font-weight: 700;
src: url("./font/NotoSans-Bold.eot");
src: url("./font/NotoSans-Bold.eot?#iefix") format('embedded-opentype'),
url("./font/NotoSans-Bold.woff2") format('woff2'),
url("./font/NotoSans-Bold.woff") format('woff'),
url("./font/NotoSans-Bold.ttf") format('truetype');
}

/* 공통 */
body {margin:0; padding:0; font-family: 'NotoKrL'; color: #191919; background-color:#fff; height:100%;}
html, body {height:100%;}
a {margin: 0; padding: 0; color: black; font-size: 100%; text-decoration: none; vertical-align: middle; background: transparent;}
a:hover { text-decoration:none;}
img {border:0 none; vertical-align:top;}
body, div, p, h1,h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,
input, textarea, blockquote, button, strong, em, address {-webkit-text-size-adjust:none; vertical-align: baseline; font-family:'NotoKrR'; font-weight:normal;color:#191919;}
select {font-family:NotoKrR;}
h1, h2 ,h3, h4, h5, h6 {font-size: 100%; font-weight: normal; }
img {  border:0 none;vertical-align:top }
img, fieldset { padding: 0; border: none; }
legend, caption { width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; display: none;}
input { background: none; border: 0; font-family: 'NotoKrR'; }
input[type=checkbox]{width:14px;height:14px; border:1px solid #cecece; vertical-align:top;background:#fff;}
input[type=radio]{width:12px;height:12px;background:#fff;}
table {border:0; border-collapse: collapse; border-width:1px; border-spacing:0; }
caption {position: absolute; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
th, td {border-collapse:collapse;	border-width:1px;	color:#3c3c3c;}
address, em, cite {font-weight:normal; font-style:normal;}
table th {font-weight:normal; vertical-align: middle;}
table td {vertical-align: middle;}
strong, em, address {font-style: normal;}
abbr {border:0; }
::-ms-clear { display: none; }
html { line-height: 1.15; /* 1 */  -webkit-text-size-adjust: 100%; /* 2 */}
main {display: block;}
pre {font-family: monospace, monospace; /* 1 */  font-size: 1em; /* 2 */}
a {background-color: transparent;}
abbr[title] { border-bottom: none; /* 1 */  text-decoration: underline; /* 2 */  text-decoration: underline dotted; /* 2 */}
b,strong {font-weight: bolder;}
code,kbd,samp {font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */}
small {font-size: 80%;}
sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button,input,optgroup,select,textarea {font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */}
button,input { /* 1 */ overflow: visible; border:0;}
button,select { /* 1 */ text-transform: none;}
button::-moz-focus-inner { border: 0; padding: 0;} 
button, [type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none; padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {  outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; /* 1 */  color: inherit; /* 2 */  display: table; /* 1 */  max-width: 100%; /* 1 */  padding: 0; /* 3 */  white-space: normal; /* 1 */}
progress {vertical-align: baseline;}
textarea {overflow: auto; background: none; border:0;}
[type="checkbox"],[type="radio"] {box-sizing: border-box; /* 1 */ padding: 0; /* 2 */}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] { -webkit-appearance: textfield; /* 1 */  outline-offset: -2px; /* 2 */}
[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; /* 1 */  font: inherit; /* 2 */}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
body {font-size:13px; font-family:'NotoKrL'; min-width:1300px;}
body.bggray {background:#f3f2f2; margin:0; padding:0;}

/* setup */
.blind {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; line-height:0; }

/* 폰트설정 */
h1 {font-family: 'NotoKrB';}
h2, .tabmenu > ul li.actived a, ul.convert li, .layer-ttl, .layer-ttl-large, .lower-ttl {font-family: 'NotoKrM';}
h3, .tabmenu > ul li, data-layer-ttl, data-layer-ttld {font-family: 'NotoKrR';}
.datasearch, .select-type, .pgcount-total, .pgcount-number, .signin > ul li, .data-group, select, 
span.data-username, .data-go, span.txt-guide, .data-layerlist-ttl {font-family: 'NotoKrR';}
.txt-blue {color:#0744e2;}
.txt-red {color:red;}
.order, .setup-sttl, .toolbox-menu button {font-family: 'NotoKrL';}
h1, h2, h3 {margin:0; padding:0;}
h1 {color:black; font-size:34px;}
h2 {color:black; font-size:30px; }
h3 {color:#343434; font-size:18px;}
h1.sc-tit {margin-top:36px;}
h2.join {padding-top:100px; padding-bottom:50px;}
h3.data {clear:both; height:29px; color:#0764cd; line-height:28px; vertical-align:middle; display:inline-block; margin:0; padding:0; font-weight:600;}
h3.data a {color:#0764cd;}
h3.sttl {height:28px; color:#0764cd; font-size:18px !important;  width:200px;vertical-align:middle; display:inline-block; margin:6px 0 0 0; padding:0px; font-weight:600;}
h3.popup-data {font-size:20px; height:28px; color:#1d2540; line-height:28px; vertical-align:middle; display:inline-block; margin:0; padding:0; font-weight:600;}
h4 {}
h5 {}

/* 여백설정 */
hr.h3 {clear:both; display:block; height:3px; visibility:hidden;}
hr.h5 {clear:both; display:block; height:5px; visibility:hidden;}
hr.h10 {clear:both; display:block; height:10px; visibility:hidden;}
hr.h15 {clear:both; display:block; height:15px; visibility:hidden;}
hr.h20 {clear:both; display:block; height:20px; visibility:hidden;}
hr.h25 {clear:both; display:block; height:25px; visibility:hidden;}
hr.h30 {clear:both; display:block; height:30px; visibility:hidden;}
hr.h40 {clear:both; display:block; height:40px; visibility:hidden;}
hr.h50 {clear:both; display:block; height:50px; visibility:hidden;}

/* 로그인 */
#login {width:580px; margin:0 auto; height:750px; padding:0; background:white; box-shadow: 0 0 2px rgba(132,132,132,0.6); border-radius:8px; position:absolute; top:50%; left:50%; margin-top:-380px; margin-left:-280px;}
.select-lang {margin-right:30px; padding-top:30px; height:80px;}
.language {float:right; width:70px; font-size:12px; padding-left:5px;}
.login-wrapper img {text-align:center;}
.login-wrapper {width:450px; margin:0 auto;}
p.stitle {font-family: 'NotoKrR'; font-size:14px; margin-top:30px; height:30px; color:#444444; text-align:center;}
span.mago {color:#6649ca;}
.login-wrapper img {clear:both; display:block; margin-left:auto; margin-right:auto;}
.login-wrapper .btn-login {clear:both; display:block; width:450px; height:70px; padding:0; margin:10px 0 0 -10px; font-size:25px; cursor:pointer; background:#396ce8; border-radius:3px; color:white; font-family: 'NotoKrM';}
.login-wrapper .inputid {clear:both; display:block;  padding:0 0 0 30px; text-indent:25px; margin:0 0 15px -10px; width:415px; text-align:left; height:56px; line-height:60px;font-size:16px; color:#444444; border:2px solid #e2e0e0; border-radius:3px; font-family: 'NotoKrL'; letter-spacing:-1px; background:url(../../images/ko/login_bl_id.png) no-repeat 12px 50%;}
.login-wrapper .inputpwd {clear:both; display:block; padding:0 0 0 30px; text-indent:25px; margin:0 0 15px -10px;; width:415px; text-align:left; height:56px; line-height:60px;font-size:16px;color:#444444; border:2px solid #e2e0e0; border-radius:3px; font-family: 'NotoKrL'; letter-spacing:-1px; background:url(../../images/ko/login_bl_pw.png) no-repeat 12px 50%;}
.login-wrapper input:focus {transition:0.3s; border:2px solid #4a9afd;}
.login-wrapper > ul.join {clear:both; margin:20px 0 0 0; padding:0 0 0 0; }
.login-wrapper > ul.join li {float:left; padding:0 20px 0 0; list-style:none; margin:0; font-size:14px; font-family: 'NotoKrR';}
.login-wrapper > ul.join li.on a {color:#2a5bd3;}
.login-wrapper > ul.join li a:hover, .login-wrapper > ul.join li a:focus {text-decoration:underline;}
.login-wrapper > .autologin {clear:both; width:450px; padding:0; margin:0 auto; height:87px; border-top:1px solid #eae9e9; border-bottom:1px solid #eae9e9;}
.login-wrapper > .autologin > span {float:left; display:inline-block; line-height:87px; margin-left:35px; font-size:14px;}
.login-wrapper > .autologin ul {display:inline-block; margin-top:22px;}
.login-wrapper > .autologin ul li {list-style:none; display:inline-block; float:left; margin-left:12px; }
.login-wrapper > .autologin ul li .login-google {display:block; width:42px; height:42px; background:url(../../images/ko/autologin_google.png) no-repeat left 50%;}
.login-wrapper > .autologin ul li .login-facebook {display:block; width:42px; height:42px; background:url(../../images/ko/autologin_facebook.png) no-repeat left 50%;}
.login-wrapper > .autologin ul li .login-naver {display:block; width:42px; height:42px; background:url(../../images/ko/autologin_naver.png) no-repeat left 50%;}
.login-wrapper > .autologin ul li .login-kakao {display:block; width:42px; height:42px; background:url(../../images/ko/autologin_kakao.png) no-repeat left 50%;}
.copyright {clear:both; padding-top:60px; font-size:14px; color:#4f4f4f; text-align:center; font-family: 'NotoKrL';}
.btn-login:hover, .btn-login:focus {background:#2a5bd3; } 

/* 회원가입 */
#join {width:500px; margin:0 auto; padding:0 50px; background:white; height:100%;}
#join form, #join fieldset  {margin:0; padding:0;}
#join label {clear:both; float:left; display:inline-block; float;left; width:150px; line-height:42px; margin:0; padding:0; font-size:16px;}
#join .inputid, #join .inputMobilePhone {padding:0; margin:0 0 0 0; width:340px; text-align:left; height:42px; line-height:42px;font-size:16px; color:#444444; border:1px solid #e2e0e0;}
#join .inputpwd {float:left;padding:0; margin:0 0 0 0; width:340px; text-align:left; height:42px; line-height:42px;font-size:16px; color:#444444; border:1px solid #e2e0e0;}
#join .inputname {padding:0; margin:0 0 0 0; width:340px; text-align:left; height:42px; line-height:42px;font-size:16px; color:#444444; border:1px solid #e2e0e0;}
#join .inputemail {float:left; padding:0; margin:0 0 0 0; width:180px; text-align:left; height:42px; line-height:42px;font-size:16px; color:#444444; border:1px solid #e2e0e0;}
#join span.txt-guide {clear:both; display:inline-block; margin-left:150px; color:#868686; margin-top:5px; font-size:12px; margin-bottom:20px;}
#join .slct-email {float:left; display:inline-block; width:140px; font-size:15px; height:44px; padding-left:10px; margin:0;}
#join .btn-join {clear:both; display:inline-block; margin-top:90px; font-size:23px;color:white; cursor:pointer; padding:20px 150px 22px 150px; line-height:20px; margin-left:65px; background:#396ce8; border-radius:3px; color:white; text-align:center; }
#join .btn-join:hover, #join .btn-join:focus  {background:#2a5bd3;} 
.emailtxt {display:inline-block; float:left; font-size:16px; width:20px; text-align:center; line-height:42px;}
.join-key {font-size:18px; color:#fb522b; margin-left:3px;}
.input-key {font-size:18px; color:#fb522b; margin-left:3px;}

/* 레이아웃 */
body#map {min-width:1280px; overflow:hidden;}
#wrap {width:100%; height:100%; margin:0; padding:0;}
main {position:absolute; min-height:100%; width:100%;}
main .main-wrapper {width:100%; height:100%; padding:0; margin:0;}
main .content {margin-left:-74px; width:100%; height:100%; padding:0 0 0 74px;}
main .content-wrapper {position:absolute; width:100%; height:100%; margin:0; padding:0;}
.nav {position:absolute; float:left; top:0; width:74px; height:100%; margin:0; padding:0; background:#121934; z-index:10;}
.sb-page {position:absolute; left:74px; background:white; width:380px; height:100%; box-shadow: 0 -3px 12px rgba(132,132,132,0.6); z-index:9;}
.section {width:auto; padding:0 4%; min-width:1280px;}
.lower-bl {position:absolute; bottom:0; left:454px; width:calc(100% - 454px); height:240px; background:#dcdcdc;}
.mago3d-map {position:absolute; width:100%; height:100%; background:silver;}

/* 메뉴 */
.nav > .mago {display:block; margin:0; padding:0; width:74px; height:70px;  border-bottom:1px solid #3a4055; background: white url(../../images/ko/logo_mago.png) no-repeat 50% 50%;}
.nav > .go-menu {display:block; margin:0; padding:0; width:74px; height:70px; border-bottom:1px solid #3a4055;  background: url(../../images/ko/ic_fullmenu.png) no-repeat 50% 50%;}
.nav > ul {margin:0; padding:0;}
.nav > ul li {margin:0; padding:0; width:74px; font-size:11px; text-align:center; height:79px; cursor:pointer; border-bottom:1px solid #3a4055;}
.nav > ul li::before {content:""; display:inline-block; width:0; height:65%; margin-right:0; vertical-align:bottom;} 
.nav > ul li a {display:block; color:#c0c1c4; font-family: 'NotoKrL';}
.nav > ul li:hover a, .nav > ul li:focus a {color:#c4d6f7;}
.nav > ul li.actived a {color:white;}
.nav > ul li:first-child { background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -2px;}
.nav > ul li:nth-child(2) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -81px;}
.nav > ul li:nth-child(3) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -160px;}
.nav > ul li:nth-child(4) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -239px;}
.nav > ul li:nth-child(5) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -318px;}
.nav > ul li:nth-child(6) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -397px;}
.nav > ul li:nth-child(7) {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -476px;}
.nav > ul li:last-child {background:url(../../images/ko/ic_sbmenu.png) no-repeat 0 -555px;}
.nav > ul li:first-child:hover, .nav > ul li:first-child:focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -2px;}
.nav > ul li:nth-child(2):hover, .nav > ul li:nth-child(2):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -81px;}
.nav > ul li:nth-child(3):hover, .nav > ul li:nth-child(3):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -160px;}
.nav > ul li:nth-child(4):hover, .nav > ul li:nth-child(4):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -239px;}
.nav > ul li:nth-child(5):hover, .nav > ul li:nth-child(5):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -318px;}
.nav > ul li:nth-child(6):hover, .nav > ul li:nth-child(6):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -397px;}
.nav > ul li:nth-child(7):hover, .nav > ul li:nth-child(7):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -476px;}
.nav > ul li:last-child:hover, .nav > ul li:nth-child(8):focus {background:#293560 url(../../images/ko/ic_sbmenu.png) no-repeat -151px -555px;}
.nav > ul li:first-child.actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -2px;}
.nav > ul li:nth-child(2).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -81px;}
.nav > ul li:nth-child(3).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -160px;}
.nav > ul li:nth-child(4).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -239px;}
.nav > ul li:nth-child(5).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -318px;}
.nav > ul li:nth-child(6).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -397px;}
.nav > ul li:nth-child(7).actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -476px;}
.nav > ul li:last-child.actived {background:#2079e7 url(../../images/ko/ic_sbmenu.png) no-repeat -75px -555px;}
.nav > .usermenu > ul {margin:0; padding:0; position:absolute; bottom:0;}
.nav > .usermenu > ul li {width:74px; font-size:11px; cursor:pointer; font-family: 'NotoKrL'; text-align:center; border-bottom:1px solid #3a4055;}
.nav > .usermenu > ul li a {color:#c4c4c8; }
.nav > .usermenu > ul li:hover a, .nav > .usermenu > ul li:focus a  {color:white;}
.nav > .usermenu > ul li:first-child {border-top:1px solid #3a4055;}
.nav > .usermenu > ul li.user-name {width:74px; height:80px; display:block; line-height:120px; background:url(../../images/ko/img_user.png) no-repeat 23px 16px;}
.nav > .usermenu > ul li.user-logout {padding:14px 0;}
.nav > .usermenu > ul li.user-name:hover a, .nav > .usermenu > ul li.user-name:focus a {display:block; line-height:122px; background:url(../../images/ko/img_user.png) no-repeat -38px 16px;}

/* 서브 탭메뉴 */
.tabmenu {width:340px; margin:0 auto; margin-top:17px; height:56px;}
.tabmenu > ul {margin:0; padding:0;}
.tabmenu > ul li {margin:0; width:112px; padding:10px 0; cursor:pointer; border-top:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; border-radius:3px; float:left; list-style:none; font-size:14px; display:inline-block; text-align:center;}
.tabmenu > ul li:first-child {border-left:1px solid #e3e3e3;}
.tabmenu > ul li:first-child:hover, .tabmenu > ul li:first-child:focus {border-left:1px solid #99b3f7;}
.tabmenu > ul li:first-child.actived {border-left:1px solid #258fff;}
.tabmenu > ul li.actived a {color:white;}
.tabmenu > ul li:hover a {color:#065ce1 !important;}
.tabmenu > ul li.actived:hover a {color:white !important;;}
.tabmenu > ul li:hover, .tabmenu > ul li:focus { border-top:1px solid #99b3f7; border-right:1px solid #99b3f7; border-bottom:1px solid #99b3f7;}
.tabmenu > ul li.actived {border-top:1px solid #2079e7; border-right:1px solid #2079e7; border-bottom:1px solid #2079e7;}
.tabmenu02> ul li {width:168px;}
.tabmenu-data > ul li:first-child {text-indent:30px; background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -135px 7px;}
.tabmenu-data > ul li:nth-child(2) {text-indent:30px; background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -135px -22px;}
.tabmenu-data > ul li:last-child {text-indent:30px; background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -135px -55px;}
.tabmenu-data > ul li:first-child:hover, .tabmenu-data > ul li:first-child:focus {background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -273px 7px;}
.tabmenu-data > ul li:nth-child(2):hover, .tabmenu-data > ul li:nth-child(2):focus {background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -273px -22px;}
.tabmenu-data > ul li:last-child:hover, .tabmenu-data > ul li:last-child:focus {background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -273px -55px;}
.tabmenu-data > ul li:first-child.actived {background:#2079e7 url(../../images/ko/ic_sb_tabmenu.png) no-repeat 5px 7px;}
.tabmenu-data > ul li:nth-child(2).actived {background:#2079e7 url(../../images/ko/ic_sb_tabmenu.png) no-repeat 5px -22px;}
.tabmenu-data > ul li:last-child.actived {background:#2079e7 url(../../images/ko/ic_sb_tabmenu.png) no-repeat 5px -55px;}
.tabmenu-iot > ul li:first-child {text-indent:35px; background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -125px -124px;}
.tabmenu-iot > ul li:nth-child(2) {text-indent:38px; background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -118px -90px;}
.tabmenu-iot > ul li:first-child:hover, .tabmenu-data > ul li:first-child:focus {background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -263px -124px;}
.tabmenu-iot > ul li:nth-child(2):hover, .tabmenu-data > ul li:nth-child(2):focus {background:white url(../../images/ko/ic_sb_tabmenu.png) no-repeat -256px -90px;}
.tabmenu-iot > ul li:first-child.actived {background:#2079e7 url(../../images/ko/ic_sb_tabmenu.png) no-repeat 15px -124px;}
.tabmenu-iot > ul li:nth-child(2).actived {background:#2079e7 url(../../images/ko/ic_sb_tabmenu.png) no-repeat 18px -90px;}

/* form */
input.datasearch {display:block; width:340px; margin:0 auto; padding:0; height:37px; text-indent:5px; line-height:30px; background:white; border: 1px solid #d8d8d8; font-size:13px; color:#464646; border-radius:3px;}
input.datasearch:focus {border:1px solid #2078e7;}
a.btn-datasearch {float:right; margin:-34px 16px 0 -20px; display:block; width:35px; height:30px; background:url(../../images/ko/ic_search.png) no-repeat 5px -28px;}
a.btn-datasearch:hover, a.btn-datasearch:focus {background:url(../../images/ko/ic_search.png) no-repeat 5px -28px;}
select {width:auto; height: 32px; color:#464646; font-size:12px; background: #fff url("../../images/ko/ic_select.png") no-repeat right 50%; border-radius:3px; border:1px solid #d8d8d8; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none;}
.dataselect {width:342px; margin:0 auto; height:40px; margin-top:8px;}
.dataselect-item {float:left; width:180px; padding-left:3px;}
.data-filter {float:right; width:125px; height:30px; padding-left:26px; line-height:30px; display:inline-block; border-radius:3px; background:url(../../images/ko/ic_filter_more.png) 6px 50% no-repeat; font-size:12px; border:1px solid #d8d8d8;}
.switch {position: relative; display: inline-block; width: 36px; height: 16px; margin-left:14px; margin-right:2px;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #e8e6e6; border-radius: 34px; transition: .3s;}
.slider:before {position: absolute; content: ""; height: 14px; width: 14px; left: 1px; bottom: 1px; background-color: #bebdbd; border-radius: 50%; transition: .3s;}
input:checked + .slider {background-color: #d4e2fa;}
input:checked + .slider:before {background-color: #2674ff;  transform: translateX(22px);}

/* data */
.sb-page > .pgcount {width:100%; margin:0 auto; font-size:12px; height:24px; border-bottom:1px solid #e1e1e1;}
.sb-page > .pgcount .pgcount-total {float:left; margin-left:20px;}
.sb-page > .pgcount .pgcount-number {float:right; margin-right:20px;}
.sb-page > .datalist {width:340px; margin:0 auto;  padding:10px 20px 10px 20px; height:75px;}
.sb-page .it-select {background:#f6faff;}
.datalist .data-username {display:inline-block; font-size:12px; vertical-align:middle; margin:2px 0 0 5px; border:1px solid #e1e1e1; border-radius:16px; padding:3px 10px;}
.datalist .data-go {float:right; width:auto; text-align:right; height:27px; font-size:13px; line-height:16px; margin-top:10px; padding:0;}
.datalist .data-go a.move {float:left; display:block; height:26px; text-indent:21px; background:url(../../images/ko/ic_move.png) no-repeat left 0;}
.datalist .data-group {margin-top:4px; padding:0; font-size:14px; color:#58595a;}
span.gap {display:inline-block; width:3px; height:3px; background:#bcbcbc; margin:2px 2px 2px 2px; }
span.ttl {color:#426098;}
hr.datalist-line {width:100%;border:none; margin:0; padding:0; border-bottom:1px solid #e1e1e1;}
.data-layer {width:90%; margin:0 auto; background:#f4f4f4; border-top:1px solid #cecece; height:38px; line-height:38px;}
.data-layer span.data-layer-ttl {display:inline-block; padding-left:26px; font-size:14px; background:url(../../images/ko/ic_view_status.png) no-repeat 8px 15px;}
.data-layer span.data-layer-ttld {display:inline-block; padding-left:26px; font-size:14px; background:url(../../images/ko/ic_view_status.png) no-repeat 9px -21px;}
.data-layer .view-option {display:inline-block; width:146px; float:right; margin-top:10px; font-size:12px !important; line-height:16px; }
.data-layerlist-bx {width:90%; margin:0 auto; }
.data-layerlist {width:100%; height:34px; background:white; line-height:34px; text-indent:10px; font-size:14px; border-bottom:1px dotted #d8d7d7;}
.data-layerlist span.data-layerlist-ttl {color:#464545; font-size:13px}
.data-layerlist .view-option {display:inline-block; width:146px; float:right; text-indent:0; margin-top:10px; font-size:12px !important; line-height:16px; }
.data-layerlist span.view-option a.move {display:inline-block; margin-left:16px; height:16px; text-indent:18px; background:url(../../images/ko/ic_move02.png) no-repeat left 2px;}

/* paging*/
.paging {position:absolute; width:100%; background:white; margin:0 auto; text-align:center; bottom:0; height:40px; border-top:1px dashed #e3e3e3;}
.paging-wrapper {width:auto; margin-top:13px; display:inline-block; padding:0;}
.paging a {width:20px; height:20px; display:inline-block; float:left; text-align:center; margin:0; padding:0;}
.paging .pre {cursor:pointer; background:url("../../images/ko/ic_pre.png") no-repeat 50% 2px;}
.paging .pre01 {cursor:pointer; display:inline-block; background:url("../../images/ko/ic_pre01.png") no-repeat 50% 2px;}
.paging .next {cursor:pointer; display:inline-block;background:url("../../images/ko/ic_next.png") no-repeat 50% 2px;}
.paging .next01 {cursor:pointer; display:inline-block;background:url("../../images/ko/ic_next01.png") no-repeat 50% 2px;}
.paging .lnk {cursor:pointer; display:inline-block;font-size:12px;color:#656666;}
.paging .current {cursor:pointer; display:inline-block;font-size:12px; color:#0858d5;}
.paging .lnk:hover,
.paging .lnk:active,
.paging .lnk:focus {display:inline-block; color:black; font-size:12px;}
.section-paging *{vertical-align:top; margin-top:40px;}
.section-paging-wrapper {width:100%; text-align:center;  padding:20px 0 0 0; font-size:13px; font-family: 'NotoKrR';}
.section-paging .before {cursor:pointer; display:inline-block; font-family: 'NotoKrR';width:32px;height:32px;background:url("../../images/ko/paging_lft01.png") no-repeat left top;}
.section-paging .before01 {cursor:pointer; display:inline-block; font-family: 'NotoKrR'; width:32px;height:32px;background:url("../../images/ko/paging_lft02.png") no-repeat left top;}
.section-paging .after {cursor:pointer; display:inline-block;width:32px; font-family: 'NotoKrR';height:32px;background:url("../../images/ko/paging_rgt02.png") no-repeat left top;}
.section-paging .after01 {cursor:pointer; display:inline-block;width:32px; font-family: 'NotoKrR';height:32px;background:url("../../images/ko/paging_rgt01.png") no-repeat left top;}
.section-paging .lnk {cursor:pointer; display:inline-block;width:32px; font-family: 'NotoKrR';height:32px;line-height:32px;background:#fff;border:1px solid #d3d2d2;font-size:13px;color:#656666;}
.section-paging .current {cursor:pointer; display:inline-block;width:32px; font-family: 'NotoKrR';height:32px;line-height:32px;background:#444545;border:1px solid #444545;font-size:13px; font-weight:600; color:white;}
.section-paging .lnk:hover,
.section-paging .lnk:active,
.section-paging .lnk:focus {display:inline-block;width:32px;height:32px;line-height:32px;background:#444545; border:1px solid #444545; font-family: 'NotoKrR';color:white; font-size:13px;}

/* toolbox */
.toolbox-menu {position:absolute; right:15px; top:60px; width:35px; height:350px; margin:0; padding:0; border-top-left-radius:5px; border-top-right-radius:5px;}
.toolbox-menu button {cursor:pointer; font-size:10px; color:#d8d7d7; letter-spacing:-0.5px; vertical-align:bottom; }
.toolbox-menu button::before {content:""; display:inline-block; width:0; height:75%; margin-right:0; vertical-align:bottom;} 
.toolbox-menu button:first-child {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -3px; border-bottom-left-radius:0; border-bottom-right-radius:0; border-top-left-radius:5px; border-top-right-radius:5px; border-top:1px solid #3e3e3e; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(2) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -54px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(3) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -108px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(4) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -152px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(5) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -199px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(6) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -252px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:nth-child(7) {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -303px; border-radius:0; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:last-child {margin:0; padding:0; height:50px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -354px; border-radius:0; border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-top:1px solid #4c4c4c; border-bottom:1px solid #3e3e3e; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-menu button:first-child:hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -3px; border-top-left-radius:5px; border-top-right-radius:5px; border-top:1px solid #206ee7; border-left:1px solid #206ee7; border-right:1px solid #206ee7;}
.toolbox-menu button:nth-child(2):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -54px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:nth-child(3):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -108px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:nth-child(4):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -152px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:nth-child(5):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -199px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:nth-child(6):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -252px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:nth-child(7):hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -303px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-menu button:last-child:hover {color:white; background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -354px; border-bottom:1px solid #2079e7; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-zooming {position:absolute; right:6px; top:490px; width:43px; height:auto; margin:0; padding:0; border-top-left-radius:7px; border-top-right-radius:7px; border-bottom-left-radius:7px; border-bottom-right-radius:7px;}
.toolbox-zooming button {cursor:pointer; font-size:10px; color:black; letter-spacing:-0.5px; vertical-align:bottom;}
.toolbox-zooming button:first-child {margin:0; padding:0; height:40px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -438px; border-top-left-radius:5px; border-bottom-left-radius:0; border-bottom-right-radius:0; border-top-right-radius:5px; border-top:1px solid #4c4c4c; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-zooming button:last-child {margin:0 0 0 0; padding:0; height:40px; width:43px; background: #3e3e3e url(../../images/ko/ic_toolbox.png) no-repeat -57px -478px; border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top:1px solid #4c4c4c; border-bottom:1px solid #3e3e3e; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}
.toolbox-zooming button:first-child:hover {background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -438px; border-top-left-radius:7px; border-top-right-radius:7px; border-top:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.toolbox-zooming button:last-child:hover {background:#2079e7 url(../../images/ko/ic_toolbox.png) no-repeat -57px -478px; border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-top:1px solid #2079e7; border-bottom:1px solid #2079e7; border-left:1px solid #2079e7; border-right:1px solid #2079e7;}
.pop-layer {border-radius:4px;  background:white; border:1px solid #d9dadb; padding:0 15px 15px 15px;  margin:0; box-shadow: 0 1px 2px rgba(132,132,132,0.6);}
.layer {width:180px; height:220px; display:none; position:absolute; right:65px; top:120px; z-index:1;}
.layer > .layer-ttl {clear:both; display:block; width:auto; height:18px; font-size:12px; border-bottom:1px solid #d9dadb; margin-top:10px;}
.layer-bx .layer-list02 {clear:both; display:inline-block; width:49px; height:auto; border:1px solid #d9dadb; margin:0 0 0 8px; padding:0; Background:white; cursor:pointer;text-align:center; margin-bottom:7px;}
.layer-bx .layer-list02 .txt {clear:both; width:49px; height:16px; display:inline-block; float:left;  margin:0; color:#636363; padding-top:2px; font-size:10px; text-align:center;}
.layer-bx .layer-list02 .map { width:49px; height:32px; margin:0; padding:0; float:left; display:inline-block;background:url(../../images/ko/img_bg_map.png) 0 -2px no-repeat;}
.layer-bx .layer-list02 .satli { width:49px; height:32px; margin:0; padding:0; float:left; display:inline-block; background:url(../../images/ko/img_bg_map.png) 0 -34px no-repeat;}
.layer-bx .layer-list02 .gis { width:49px; height:32px;  margin:0; padding:0; float:left; display:inline-block; background:url(../../images/ko/img_bg_map.png) 0 -72px no-repeat;}
.layer .layer-list02:hover, .layer .layer-list02:focus {border:1px solid #0b9ffb;}
.layer-bx .layer-txt02 {clear:both; width:49px; height:30px;; border:1px solid #d9dadb; margin-left:8px; Background:white; cursor:pointer;text-align:center; margin-bottom:7px; height:30px; display:inline-block; float:left; font-size:12px; text-align:center;}
.layer-bx .layer-txt02:hover, .layer-bx .layer-txt02:focus {border:1px solid #0b9ffb;}
.close-xs {float:right; margin:10px -6px -5px 0; width:15px; cursor:pointer; height:15px; background:url(../../images/ko/ic_xs_close.png) no-repeat;}
.setup {width:280px; height:600px; position:absolute; display:none; right:65px; top:60px; z-index:1; }
.setup-bx {width:100%; display:flex; flex-wrap:wrap; flex-wrap:wrap; justify-content:center; justify-content:space-between; margin-bottom:10px; text-align:center;}
.setup-bbox, .setup-label, .setup-origin, .setup-shadow {cursor:pointer; border:1px solid #e2e2e2; pointer:cursor; line-height:80px; text-align:center; font-size:11px; border-radius:3px; display:inline-block; width:65px; height:56px;}
.setup-bbox {background:url(../../images/ko/ic_setup.png) 26px 10px no-repeat;}
.setup-label {background:url(../../images/ko/ic_setup.png) -68px 10px no-repeat;}
.setup-origin {background:url(../../images/ko/ic_setup.png) -160px 10px no-repeat;}
.setup-shadow {background:url(../../images/ko/ic_setup.png) -252px 10px no-repeat;}
.setup-bbox:hover, .setup-label:hover, .setup-origin:hover, .setup-shadow:hover {border:1px solid #206ee7;}
.setup-bx02 {width:auto; height:auto; padding:8px 10px 8px 10px; border-radius:3px; margin-bottom:10px; border:1px solid #e2e2e2;}
.setup-ttl {float:left; width:132px; height:30px; line-height:28px; font-size:12px; }
.setup-sttl {clear:both; width:120px; float:left; font-size:12px; line-height:24px;}
.setup-sttl02 {clear:both; width:80px; float:left; font-size:12px; line-height:24px;}
.setup > .f4d {clear:both; height:90px;}
.setup > .lod {clear:both; height:207px;}
.setup > .ssad {clear:both; height:67px;}
.setup > .color {clear:both; height:60px;}
.setup > .location {clear:both; height:173px;}
.setup > .rotate {clear:both; height:117px;}
.poplayer-ttl {clear:both; font-size:14px; margin-top:20px; height:32px; color:black; display:inline-block;}
.inputtype {display:inline-block; float:left; width:100px; margin:0 auto; margin-bottom:2px; padding:0; border-radius:0; height:24px; text-indent:5px; line-height:24px; border: 1px solid #d8d8d8; font-size:12px; color:#464646;}
.text50 {width:50px;}
.text60 {width:60px;}
.text150 {width:150px;}
.color-chart {display:inline-block; float:left; width:24px; height:24px; border:1px solid #d6d7d8; background:yellow;}
.setup-unit {float:left; margin-left:10px; margin-top:3px; line-height:24px; font-size:11px;}
.btn-slct {float:left; display:inline-block; width:60px; height:28px; text-indent:20px; color:#242424; cursor:pointer; line-height:23px; font-size:11px; border:1px solid #dfdddd; background:white url(../../images/ko/bl_select_b.png) 12px 8px no-repeat;}
.btn-mov {float:left; display:inline-block; width:60px; height:28px; margin-left:5px; color:#242424; cursor:pointer; text-indent:20px; line-height:23px; font-size:11px; border:1px solid #dfdddd; background:white url(../../images/ko/bl_move_b.png) 10px 50% no-repeat;}
button:hover.btn-slct {color:white; border:1px solid #3a97f1;  background:#3a97f1 url(../../images/ko/bl_select_w.png) 12px 8px no-repeat;}
button:hover.btn-mov {color:white; border:1px solid #3a97f1; background:#3a97f1 url(../../images/ko/bl_move_w.png) 10px 50% no-repeat;}
.setup-btn {float:right; margin-bottom:10px; margin-top:4px; padding:0;}
.margb10 {clear:both; margin-bottom:10px;}
.margt30 {clear:both; padding-top:10px;}
.rotat_range {display:inline-block; float:left; width:110px; margin-left:10px; margin-top:3px;}
.rotat_range .rot_left {display:inline-block; float:left; width:18px; height:18px; background:url(../../images/ko/bl_ratate_decre.png) left top no-repeat;}
.rotat_range .rot_bar {display:inline-block; float:left; width:70px; height:4px; background:#e5e5e6; margin-top:6px;}
.rotat_range .rot_right {display:inline-block; float:left; width:18px; height:18px; background:url(../../images/ko/bl_ratate_incre.png) left top no-repeat;}
.bl_ratate_bar {width:100px; display:block; margin:-4px 0 0 5px; padding:0;}
.btn_incre {float:left; width:26px; height:26px; cursor:pointer; border-radius:0; border:1px solid #e2e2e2; margin-left:1px; background:url(../../images/ko/btn_incre.png) 50% 50% no-repeat;}
.btn_decre {float:left; width:26px; height:26px; cursor:pointer; border-radius:0; border:1px solid #e2e2e2; margin-left:1px; background:url(../../images/ko/btn_decre.png) 50% 50% no-repeat;}
button:hover.btn_incre {border:1px solid #626262; background:#6d6d6d url(../../images/ko/btn_incre_hv.png) 50% 50% no-repeat;}
button:hover.btn_decre {border:1px solid #626262; background:#6d6d6d url(../../images/ko/btn_decre_hv.png) 50% 50% no-repeat;}
button:active.btn_incre {border:1px solid #4d4d4d; background:black url(../../images/ko/btn_incre_hv.png) 50% 50% no-repeat;}
button:active.btn_decre {border:1px solid #4d4d4d; background:black url(../../images/ko/btn_decre_hv.png) 50% 50% no-repeat;}

/* 변환 */
ul.convert {margin:40px 0 45px 0; padding:0; width:100%; height:55px; border-bottom:1px solid #e3e3e3;}
ul.convert li {list-style:none; display:inline-block; float:left; padding:0 65px; height:55px; line-height:50px; font-size:18px; color:#474748; background:#f8f8f8; margin:0;  border-left:1px solid #e3e3e3; }
ul.convert li:first-child {border-left:white;}
.convert span.order {display:inline-block; font-size:20px; margin-right:10px;}
ul.convert li.actived {background:white; border-bottom:1px solid white; margin-top:-1px; border-top:4px solid #206ee7; border-left:1px solid #e3e3e3;}
ul.convert li.actived a {color:#206ee7; }
.search-box {width:100%; border:1px solid #e5e5e5; padding:20px 35px;}
.cvt-row {clear:both; float:left; margin-top:6px;}
.cvt-row table {width:100%; text-align:center; table-layout:fixed; font-size:14px;}
.cvt-row table th {background:#f7f9fb; height:45px; border-top:2px solid #444545; border-right:1px solid #ddd; border-bottom:1px solid #ddd; vertical-align:middle; font-weight:bold;}
.cvt-row table th:last-child, .cvt-group table td:last-child {border-right-width:0;}
.cvt-row table td:first-child {text-align:left;}
.cvt-row table td {height:40px; border-right:1px solid #ddd; padding-left:10px; border-bottom:1px solid #ddd;}
.cvt-row table td.center {text-align:center !important;}
.tbl-delete {display:inline-block; width:15px; height:20px; background:url(../../images/ko/ic_delete.png) no-repeat 50% 2px;}
.group-close {display:inline-block; width:43px; height:14px; vertical-align:middle; background:url(../../images/ko/ic_category.png) no-repeat 6px -28px; margin:0; padding:0;}
.group-open {display:inline-block; width:43px; height:16px; vertical-align:middle; background:url(../../images/ko/ic_category.png) no-repeat 6px -2px; margin:0; padding:0;}
.group-open-depth {display:inline-block; width:43px; height:16px; vertical-align:middle; background:url(../../images/ko/ic_category.png) no-repeat 6px -2px; margin:0 0 0 12px; padding:0;}
.cvt-column {clear:both; float:left; margin-top:6px;}
.cvt-column table {width:100%; text-align:center; table-layout:fixed; font-size:14px;}
.cvt-column table th {background:#f7f9fb; height:45px; padding-left:20px; border-bottom:1px solid #ddd; vertical-align:middle; font-weight:bold;}
.cvt-column table td {background:white; height:40px; padding-left:10px; border-bottom:1px solid #ddd; vertical-align:middle; text-align:left !important;}
.cvt-column table .top {border-top:2px solid #444545; }
.cvt-column table .left {text-align:left;}
.section input.convrt-inputtype {display:inline-block; width:340px; margin:0 auto; padding:0; height:30px; text-indent:5px; line-height:30px; border: 1px solid #d8d8d8; font-size:13px; color:#464646;}
.section input.short {width:200px;}
.section input.long {width:900px;}
.section .conver-select {float:left; width:auto; padding-left:3px; font-size:13px; padding-right:30px;}
span.comment {color:#5b5b5c;}
.convert-search-bx {display:flex; flex-wrap:wrap;  justify-content:center; margin-bottom:20px;font-size:13px; width:96%; padding:20px 2%; height:auto; border:1px solid #ddd;}
.convert-search-bx .search-bx {width:30%; float:left;}
.convert-search-bx .search-bx02 {width:30%; }
.convert-search-bx .search-bx02 {width:30%;}
.btn-search {width:100px; font-size:13px; height:36px; cursor:pointer; background:url(../../images/ko/ic_cont-search.png) no-repeat left 50%; line-height:28px; text-align:center;}
.convert-search-bx .search-st {font-size:13px; font-weight:600; float:left; display:inline-block; line-height:30px; padding:0 5px;}
.convert-search-bx .convert-selecttype {float:left; width:auto; margin-left:5px; padding-left:3px; padding-right:40px;}
.convert-search-bx .convert-srchtype {float:left; width:140px; margin-left:5px; padding:0; height:30px; text-indent:5px; line-height:30px; background:white; border: 1px solid #d8d8d8; font-size:13px; border-radius:3px;}
.convert-search-bx .convert-datetype {float:left; width:80px; margin-left:5px; padding:0; height:30px; text-indent:5px; line-height:30px; background:white; border: 1px solid #d8d8d8; font-size:13px; border-radius:3px;}
.search-dateimg {float:left; padding-left:5px;}

/* 버튼/정렬 */
.btn {display:inline-block; text-align:center; margin-left:5px; max-width:100%; font-size:14px; cursor:pointer; padding:12px 30px;} 
.m-btn {display:inline-block; text-align:center; margin-left:5px; max-width:100%; font-size:14px; cursor:pointer; padding:8px 18px;} 
.p-btn { display:inline-block; text-align:center; margin-left:5px; max-width:100%; font-size:12px; cursor:pointer; padding:6px 16px;} 
.l-btn { display:inline-block; text-align:center; max-width:100%; font-size:12px; cursor:pointer; padding:4px 12px;} 
.l-general {display:inline-block; background:white; border-radius:0; border:1px solid #959696;}
.l-general:hover, .l-general:focus, .cancel:hover, .cancel:focus, .list:hover, .list:focus {background:black; border:1px solid black; color:white;}
.general {display:inline-block; background:#206ee7; color:white; border:1px solid #206ee7;}
.cancel, .list {display:inline-block; background:white; color:#206ee7; border:1px solid #206ee7;}
.general:hover, .general:focus, .cancel:hover, .cancel:focus, .list:hover, .list:focus {background:black; border:1px solid black; color:white;}
.btn-add {display:inline-block; width:180px; color:white; text-align:left; vertical-align:middle; background:#206ee7 url(../../images/ko/ic_add.png) no-repeat 138px 50%; }
.btn-add:hover, .btn-add:focus {background:black url(../../images/ko/ic_add.png) no-repeat 138px 50%;}
.s-btn {font-size:13px; height:30px; cursor:pointer;border:1px solid #d9d9da; border-radius:0; background:#e9e9ea;}
.upload-bx {clear:both; width:98%; height:100px; text-align:center; padding:1%; border:1px solid #e3e3e3;}
.right-area {clear:both; float:right; width:auto; display:inline-block;}
.left-area {clear:both; float:left; width:auto; display:inline-block;}
.center-area {clear:both; padding-top:30px; text-align:center; width:auto; }
.btn-convert {width:68px; font-size:13px; margin:0; padding:0; cursor:pointer; text-indent:17px; border-radius:0; padding:8px 12px; background:#ef842c url(../../images/ko/ic_convert.png) no-repeat 6px 9px; color:white;}
.btn-allconvert {width:100px; font-size:13px; margin:0; padding:0; cursor:pointer; text-indent:24px; border-radius:0; padding:10px 12px; background:#ef842c url(../../images/ko/ic_convert.png) no-repeat 12px -14px; color:white;}
.margin-r20 {margin-right:20px;}

/* IoT */
.iotlist {width:340px; margin:0 auto; padding:10px 20px 0 20px;}
.dust-range-bx {width:340px; margin:0 auto; border:1px solid #e4e2e2; display:flex;}
.dust-range-bx .dust-ttl {text-align:center; background:#f4f4f4; width:70px; font-size:11px; line-height:13px; padding-top:10px; border-right:1px solid #e4e2e2;}
.dust-range-bx .dust-range {font-size:11px; width:60px;display:inline-block; text-align:center; padding:10px 0 5px 0;}
.dust-range span.range {clear:both; height:24px; display:block;margin-top:5px; text-align:center; font-size:10px;}
.dust-range span.range-circle {display:inline-block; clear:both; text-align:center; width:13px; height:13px; border-radius:30px;}
.good {background:#0b99fb; color:white;}
.normal {background:#45c12f; color:white;}
.bad {background:#ffe000; color:white;}
.verybad {background:#fa2d0b; color:white;}
.nodata {background:#aaaaaa; color:white;}
.good-txt {color:#0b99fb;}
.normal-txt {color:#45c12f;}
.bad-txt {color:#ffe000;}
.verybad-txt {color:#fa2d0b;}
.nodata-txt {color:#aaaaaa;}
.result-bx {width:100%; height: calc(100% - 290px); overflow-y:scroll; overflow-x:hidden;}
.dust-value-bx {display:inline-block; float:right; height:30px; width:120px; border:1px solid #f1f1f1; border-top-left-radius:30px; border-bottom-left-radius:30px; border-top-right-radius:30px; border-bottom-right-radius:30px;}
.status-bar {float:left; width:45px; display:inline-block; text-align:center; font-size:11px; line-height:30px; vertical-align:middle; height:30px; border-top-left-radius:30px; border-bottom-left-radius:30px;}
.dust-value-bx .value-bx {display:inline-block; font-size:9px; text-align:center; width:75px; color:#6a6969;}
.dust-value-bx .value {font-size:16px; font-weight:600; line-height:30px;}
ul.dataitem {margin:5px 0 0 0; padding:0; height:165px;}
ul.dataitem li {list-style:none; font-size:13px; color:#4a4949; height:22px; line-height:22px; padding-left:23px;}
ul.dataitem li.address {background:url(../../images/ko/ic_dust_info.png) no-repeat 0 -2px;}
ul.dataitem li.dtvalue {background:url(../../images/ko/ic_dust_info.png) no-repeat 0 -25px;}
ul.dataitem li.dtinfo {background:url(../../images/ko/ic_dust_info.png) no-repeat 0 -50px;}
ul.dataitem li > ul {margin:-22px 0 0 40px; padding:0;}
ul.dataitem li > ul li {font-size:11px; list-style:none; height:17px; text-indent:8px; background:url(../../images/ko/2dot.png) no-repeat 22px 11px}
.map-layer  {width:210px; height:64px;}
.map-layer > .dust-bx  {width:210px; height:54px; border-radius:60px; font-size:14px; box-shadow: 0 1px 3px rgba(132,132,132,0.6);}
.map-layer > .dust-bx > .dust-satus {display:table-cell; vertical-align:middle; word-break:normal; text-align:center; padding:0 10px; width:40px; height:54px; border-top-left-radius:60px; border-bottom-left-radius:60px; }
.map-layer > .dust-bx > .dust-info {float:right; display:inline-block; width:140px; margin-top:-45px;}
.map-layer > .dust-bx > .dust-info > .info-ttl {display:inline-block; font-weight:600; float:left; font-size:14px;}
.map-layer > .dust-bx > .dust-info > .info-more {width:30px; height:30px; display:inline-block; float:right; cursor:pointer;  background:url(../../images/ko/ic_value_more.png) no-repeat 5px 50%;}
.map-layer > .dust-bx > .dust-info > .info-value {display:inline-block; float:left; font-size:17px;}
.map-layer > .dust-bx > .dust-info > .info-value > .info-unit {font-size:11px; color:#a1a1a1;}
.map-layer > .pointer-img {width:210px; height:10px; background:url(../../images/ko/layer_pointer.png) no-repeat 100px top;}

/* scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f4f2f2; }
::-webkit-scrollbar-thumb { background: #e0e0e0; }
::-webkit-scrollbar-button { display: none; }

/* lower-bl */
.lower-bx, .lower-bx02, .lower-bx03 {float:left; background:white; height:210px; border:1px solid #d7d6d6; margin-top:14px;}
.lower-bx {width:24%; margin-left:1.33%;}
.lower-bx02 {width:24%; margin-left:1%;}
.lower-bx03 {width:47%; margin-left:1%;  margin-right:1%;}
.lower-ttl {display:inline-block; margin:10px 0 20px 15px; font-size:15px; width:150px;}
.lower-more {display:inline-block; float:right; font-size:12px; border:1px solid #dddddd; text-align:center; margin:10px 15px 0 0; line-height:18px; width:50px; height:20px;}
.lower-tbl {width:96%; margin:0 auto;}
.lower-tbl table {width:100%; font-size:11px; border-bottom:1px solid #f4f4f4;}
.lower-tbl th {height:23px; text-align:center; background:#f4f4f4; }
.lower-tbl td {height:15px;  padding-top:4px; padding-left:5px; text-align:left; border-bottom:1px solid #f4f4f4;}
.lower-tbl span.range-circle {display:inline-block; clear:both; text-align:center; margin-right:7px; width:10px; height:10px; vertical-align:middle; border-radius:30px;}

/* popuplayer */
.detaildata {width:320px; height:750px; position:absolute; display:none; left:500px; top:30px; z-index:1;}
.popuplayer {border-radius:4px; background:white; overflow-y:scroll; overflow-x:hidden; border-top:5px solid #206ee7; border-left:1px solid #d9dadb; border-right:1px solid #d9dadb; border-bottom:1px solid #d9dadb; padding:0 20px 20px 20px; margin:0; box-shadow: 0 1px 3px rgba(132,132,132,0.6);}
.popuplayer .close {float:right; margin:14px -6px 0 0; width:15px; cursor:pointer; height:15px; background:url(../../images/ko/ic_big_close.png) no-repeat;}
.popuplayer > .datalist {width:100%; margin:0 auto; margin-top:30px; height:85px;}
.popuplayer > .datalist .data-username {display:inline-block; font-size:12px; vertical-align:middle; margin:2px 0 0 5px; border:1px solid #e1e1e1; border-radius:16px; padding:3px 10px;}
.popuplayer > .datalist .data-group {margin-top:6px; padding:0; font-size:14px; color:#58595a;}
.popuplayer > .datalist .data-go {float:right; width:auto; text-align:right; height:27px; font-size:12px; line-height:16px; margin-top:10px; padding:0;}
.popuplayer > .datalist .data-go a.move {float:left; display:block; height:26px; text-indent:21px; background:url(../../images/ko/ic_move.png) no-repeat left 0;}
.popuplayer > .thumbnail {clear:both; Width:100%; height:160px; border:1px solid #e4e4e5; }
.popuplayer > .popup-datatype {clear:both; width:100%; margin-top:10px; margin-bottom:7px; border:1px solid #e4e4e5; border-bottom-width:0;}
.popuplayer > .popup-datatype table {width:100%; margin:0; padding:0; text-align:center; table-layout:fixed; font-size:12px; }
.popuplayer > .popup-datatype table td {padding:5px; border-bottom:1px solid #e4e4e5; height:18px; vertical-align:middle;}
.popuplayer > .popup-datatype table td:first-child {background:#f9f8f8;}
.popuplayer > .more-info {display:block; width:100%; margin:0 auto; text-indent:10px; font-size:13px; margin-top:3px; height:30px; border:1px solid #e4e4e5; line-height:30px; padding:0; background:#f9f8f8 url(../../images/ko/ic_select.png) right 10px no-repeat;}
.popuplayer > .popup-dataconvert {clear:both; width:100%; margin-top:20px; margin-bottom:7px; border:1px solid #e4e4e5; border-bottom-width:0;}
.popuplayer > .popup-dataconvert table {width:100%; margin:0; padding:0; text-align:center; table-layout:fixed; font-size:14px; }
.popuplayer > .popup-dataconvert table td {padding:8px; border-bottom:1px solid #e4e4e5; height:16px; vertical-align:middle;}
.popuplayer > .popup-dataconvert table td:first-child {background:#f9f8f8;}
.datagroup {width:900px; height:auto; padding-bottom:30px; position:absolute; display:none; left:590px; top:360px; z-index:1;}
.popuplayer > .datagroup-select {width:100%; margin-top:20px; margin-bottom:7px; border-bottom-width:0;}
.popuplayer > .datagroup-select table {width:100%; margin:0; padding:0; text-align:center; table-layout:fixed; font-size:14px; }
.popuplayer > .datagroup-select table th {padding:7px; margin:0; border-right:1px solid #e4e4e5; background:#f4f4f4; border-top:1px solid #e4e4e5; text-align:center; table-layout:fixed; font-size:14px; }
.popuplayer > .datagroup-select table th {border-left:1px solid #e4e4e5;]}
.popuplayer > .datagroup-select table td {padding:7px; border-bottom:1px solid #e4e4e5; border-right:1px solid #e4e4e5; vertical-align:middle;}
.popuplayer > .datagroup-select table td:first-child {text-align:left; border-left:1px solid #e4e4e5; padding-left:34px; background:url(../../images/ko/ic_group.png) no-repeat 10px 50%;}
.popuplayer-s {border-radius:4px; background:white; overflow-y:scroll; overflow-x:hidden; border:1px solid #d9dadb; padding:0 14px 14px 14px; margin:0; box-shadow: 0 1px 2px rgba(132,132,132,0.6);}
.popuplayer-s .close-s {float:right; margin:14px -6px 0 0; width:15px; cursor:pointer; height:15px; background:url(../../images/ko/ic_close.png) no-repeat;}
.filter {width:230px; height:auto; position:absolute; left:500px; display:none; top:30px; z-index:1;}
.job-register {width:480px; height:auto; position:absolute; left:500px; top:30px;}
.group-select {width:80px; height:auto; position:absolute; left:500px; top:30px;}
.layer-ttl {clear:both; display:block; width:auto; height:24px; font-size:14px; border-bottom:1px solid #d9dadb; margin-bottom:10px;}
.layer-ttl-large {clear:both; display:block; width:auto; height:28px; font-size:18px; border-bottom:1px solid #d9dadb; margin-bottom:10px;}
.layer-bx {display:flex; flex-wrap:wrap; width:100%; margin:0 auto;}
.layer-bx .layer-list {display:inline-block; width:55px; text-align:center; margin-bottom:10px;}
.layer-bx .layer-list .icon {display:inline-block; width:24px; height:24px; cursor:pointer; margin-bottom:3px; text-align:center;  border-radius:50px; border:1px solid #d9dadb;}
.layer-bx .layer-list .txt {clear:both; width:55px;  display:inline-block; color:#636363; font-size:11px; text-align:center;}
.layer-bx .layer-list .common {display:inline-block; background:url(../../images/ko/ic_filter.png) -4px -40px no-repeat;}
.layer-bx .layer-list .open {display:inline-block; background:url(../../images/ko/ic_filter.png) -89px -40px no-repeat;}
.layer-bx .layer-list .notopen {display:inline-block; background:url(../../images/ko/ic_filter.png) -132px -40px no-repeat;}
.layer-bx .layer-list .group {display:inline-block; background:url(../../images/ko/ic_filter.png) -177px -40px no-repeat;}
.layer-bx .layer-list .file {display:inline-block; background:url(../../images/ko/ic_filter.png) -47px -40px no-repeat;}
.layer-bx .layer-list .common:hover, .layer-bx .layer-list .common:focus {display:inline-block; background:url(../../images/ko/ic_filter.png) -4px -7px no-repeat;}
.layer-bx .layer-list .open:hover, .layer-bx .layer-list .open:focus {display:inline-block; background:url(../../images/ko/ic_filter.png) -89px -7px no-repeat;}
.layer-bx .layer-list .notopen:hover, .layer-bx .layer-list .notopen:focus {display:inline-block; background:url(../../images/ko/ic_filter.png) -132px -7px no-repeat;}
.layer-bx .layer-list .group:hover, .layer-bx .layer-list .group:focus {display:inline-block; background:url(../../images/ko/ic_filter.png) -177px -7px no-repeat;}
.layer-bx .layer-list .file:hover, .layer-bx .layer-list .file:focus {display:inline-block; background:url(../../images/ko/ic_filter.png) -47px -7px no-repeat;}
.popuplayer-btn {clear:both; position:relative; bottom:0; left:0; height:30px; margin-top:0; text-align:right; width:auto;}


