/* ///// IOT TAB ///// */
.dataContents {
    margin: 0;
    height: 100%;
    background-color: #fff;
}

.searchDataWrap {
    background-color: #0066a2;
}

.searchDataType {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    padding-top: 15px;
    /*border-left: 1px solid #005689;*/
}
.searchDataType > div {
    text-align: center;
}
.searchDataType input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 27px;
    color: #ccc;
    display: block;
    margin: 0 auto;
    padding: 10px 42px 5px 42px;
}
.searchDataType label {
    color: #ccc;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}
.searchDataType input[type=radio],
.searchDataType input[type=radio] + label,
.searchDataType input[type=checkbox],
.searchDataType input[type=checkbox] + label {
    cursor: pointer;
}
.searchDataType input[type=radio]:hover,
.searchDataType input[type=radio]:hover + label,
.searchDataType input[type=checkbox]:hover,
.searchDataType input[type=checkbox]:hover + label,
.searchDataType input[type=radio]:checked,
.searchDataType input[type=radio]:checked + label,
.searchDataType input[type=checkbox]:checked,
.searchDataType input[type=checkbox]:checked + label {
    color: #fff;
    background-color: #258fff55;
}

.searchDataInputWrap {
    /*border-left: 1px solid #005689;*/
    padding: 10px 20px 15px 20px;
}
.searchDataInput {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    background-color: #fff;
    /*border: 1px solid #003457;*/
    justify-content: space-between;
}
.searchDataInput > * {
    height: 35px;
    line-height: 35px;
    /*font-size: 0.9em;*/
    border: none;
}
.searchDataInput > span.searchIcon {
    width: 30px;
    background-image: url(/images/ko/ico.png);
    background-repeat: no-repeat;
    background-position: 0px -108px;
}
.searchDataInput > input {
    width: 230px;
    padding: 0 5px;
}
.searchDataInput > button.btnSearch {
    width: 60px;
    background-color: #262b3f;
    color: #fff;
}

/* 사물인터넷 범례 */

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.legendWrap {
    padding: 5px 10px;
}

.legend {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    border-radius: 5px;
}

.legend .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto 5px;
}

.legend .good {
    background-color: dodgerblue;
}

.legend .normal {
    /*background-color: green;*/
    background-color: #00c73c;
}

.legend .bad {
    background-color: gold;
}

.legend .very-bad {
    /*background-color: orangered;*/
    background-color: #ff5959;
}

.legend .nodata {
    /*background-color: dimgray;*/
    /*background-color: #555;*/
    background: #555 url(/images/ico_x.png) no-repeat center center;
}

/* 측정소 정보 */
.sInfoWrap {
    width: 325px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 0 auto 10px;
}
.sInfoWrap:first-child {
    margin-top: 10px;
}
.sInfo {
    display: flex;
}
.sInfo > ul {
    flex: 1 1 auto;
}
.sInfo > ul:first-child {
    width: 80px;
    border-radius: 7px;
}
.sInfo > ul:first-child > li {
    padding-top: 7px;
    text-align: center;
    color: #fff;
}
.sInfo > ul:first-child > li.state {
    padding-top: 10px;
    font-size: 16px;
}
.sInfo > ul:first-child.nodata > li.state {
    letter-spacing: -2px;
}
.sInfo > ul:first-child > li.result {
    font-weight: bold;
    font-size: 27px;
}
.sInfo > ul:first-child > li.unit {
    font-size: 12px;
    padding-bottom: 10px;
}
.sInfo > ul:last-child {
    padding: 3px 0;
}
.sInfo > ul:last-child > li {
    width: 225px;
    padding: 5px 0 0 10px;
}
.sInfo > ul:last-child > li > * {
    font-size: 12px;
}
.sInfo > ul:last-child > li > label {
    display: inline-block;
    min-width: 60px;
    color: #777;
}
.sInfo > ul:last-child > li > a {
    display: inline-block;
    width: 150px;
    text-decoration: underline;
}
.btnCt {
    text-align: center;
}
.btnCt > button.more {
    width: 100%;
    font-size: 11px;
    color: #555;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    /*border: 2px solid #ccc;*/
    background-color: transparent;
    background-image: url(/images/btn_more.png);
    background-repeat: no-repeat;
    background-position: 115px 6px;
}
.btnCt > button.more.on {
    background-position: 115px -46px;
}
.mResult > li {
    position: relative;
    margin: 10px;
    font-size: 11px;
    background: url(/images/dotline.png) repeat-x 0 center;
}
.mResult > li > span {
    display: inline-block;
    padding: 0 7px;
    background-color: #fff;
}
.mResult > li > span.result {
    clear: right;
    float: right;
    display:block;
    border-radius: 2px;
    background-color: #fff;
}

/* 측정항목 */
table.dustList {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table.dustList thead {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
}
table.dustList thead th {
    padding: 5px 10px;
    text-align: left;
    color: #262b3f;
}
table.dustList thead th:nth-child(2) {
    text-align: center;
}
table.dustList td {
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    word-break: break-all;
}
table.dustList td * {
    vertical-align: middle;

}
table.dustList td:nth-child(1) {
    font-weight: bold;
}
table.dustList td:nth-child(2) {
    text-align: center;
}

.dust {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.lv1 {
    background-color: #32a1ff;
}
.lv2 {
    background-color: #00c73c;
}
.lv3 {
    /*background-color: #fd9b5a;*/
    background-color: #ffd700;
}
.lv4 {
    background-color: #ff5959;
}
.lv0 {
    /*background: #555 url(/images/ico_x.png) no-repeat center center;*/
    background: #555;
}
.txlv1 {
    color: #32a1ff;
}
.txlv2 {
    color: #00c73c;
}
.txlv3 {
    color: #fd9b5a;
}
.txlv4 {
    color: #ff5959;
}
.txlv5 {
    color: #555;
}
.brLeft {
    border-radius: 5px 0 0 5px;
}
.dusttx {
    display: inline-block;
    font-size: 12px;
}

/* 측정태그 */
.rel {
    position: relative;
}
.abs {
    position: absolute;
    z-index: 1000;
}
.dustStation {
    display: flex;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #555;
    /*box-shadow: 1px 1px 1px #ccc;*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #fff;
}
.dustStation.on {
    border: 4px solid #000;
}
.dustStation > li {
    flex: 1 1 auto;
    margin: 0;
    padding: 5px;
    list-style-type: none;
}
.dustStation > li * {
    vertical-align: middle;
}
.dustStation > li.scolor > span {
    display: block;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border-radius: 7px 0 0 7px;
}
.dustStation > li.scolor > span:nth-child(1) {
    font-size: 22px;
}
.dustStation > li.sname {
}
.dustStation > li.sname > p {
    width: 80px;
    margin: 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
span.subTit {
    display: inline-block;
    margin-right: 5px;
    font-size: 11px;
}
span.subResult {
    display: inline-block;
    font-size: 11px;
}
.dustStation > li.sname > span * {
    vertical-align: middle;
}
.inc {
    color: #ff5959;
}
.dec {
    color: #32a1ff;
}

/* TBODY에만 스크롤 */
.scrollTable {
    overflow-x: hidden;
    overflow-y: auto;
}
.scrollTable table {
    border-collapse: collapse;
}
.scrollTable table th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.scrollTable > table {
    width:100%;
}
.scrollTable > table th {
    padding: 4px;
    border: 1px solid #dfdfdf;
    background-color: #eee;
}
.scrollTable > table tbody tr {
    cursor: pointer;
}
.scrollTable > table tbody tr td {
    padding: 5px 5px;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #bbb;
    font-size: 14px;
    text-align: center;
}
.scrollTable > table tbody tr.on {
    background-color: #ccc;
}

/* 화면 하단 상세정보 */
.building-detail {
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 60px;
    background-color: #fff;
    /*overflow-x: hidden;*/
    /* transition: 0.5s; */
    margin-top: 50px;
    padding: 10px;
}
.sensor-detail-wrap {
    height: 250px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    background-color: #ecf1fb;
    overflow-x: hidden;
}
.sensor-detail {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.info-container {
    width: 20%;
}
.info-container ul li {
    margin-bottom: 5px;
}
.info-container ul li label {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
}
.info-container ul li input {
    display: inline-block;
    width: 256px;
    padding: 5px;
}
.chart-container {
    position: relative;
    width: 337px;
    background-color: #fff;
    margin: 10px 0 10px 10px;
    flex: 0 0 auto;
}
.chart-title-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.chart-title {
    color: #797979;
    line-height: 25px;
}
.chart-info {
    border: none;
    font-size: 25px;
    background-color: #ffffff00;
    color: #ccc;
}
.chart-description {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
/* half doughnut */
.half-doughnut-chart-container {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    /*top: 30%;*/
    /*transform: translate(0, -50%);*/
}
.half-doughnut-chart-container > canvas {
    position: absolute;
}
.half-doughnut-chart-container > .percent {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 60px;
    font-weight: bold;
    top: 45%;
}
.half-doughnut-chart-container > .label {
    position: absolute;
    width: 100%;
    bottom: 30%;
}
.half-doughnut-chart-container > .label span:first-child {
    float: left;
}
.half-doughnut-chart-container > .label span:last-child {
    float: right;
}

.marR40 {
    margin-right: 40px !important
}