@charset "utf-8";

input[type=search],
input[type=password],
input[type=text],
input[type=file],
textarea {box-sizing: border-box;}

input[type=submit] {text-indent: 0;}

label {
	padding: 0 5px;
	min-width: 50px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #666; }

tr:hover td {
	background-color: #fafafa; }

.ui-dialog span.ui-icon {
    background-image: none;
    text-indent: 0; }
    
.ui-dialog span.ui-icon:after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 1;
	text-align: center;
	font-weight: normal;
	color: #999;
	font-size: 1.6rem;
	content: '\e91a'; }