<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.MembershipMapper">

	<!-- 멤버십 정보 조회 -->
	<select id="getMembership" parameterType="int" resultType="membership">
		/* getMembership */
		SELECT *
		FROM membership
		WHERE membership_id = #{membershipId}
	</select>

	<!-- 멤버십 정보 조회 -->
	<select id="getMembershipUsageByUserId" parameterType="string" resultType="membershipUsage">
		/* getMembershipUsageByUserId */
		SELECT A.*,
			   B.membership_name AS membershipName,
			   B.upload_file_size AS uploadFileSize,
			   B.convert_file_count AS convertFileCount
		FROM membership_usage A LEFT OUTER JOIN membership B
		    ON A.membership_id = B.membership_id
		WHERE A.user_id = #{userId}
	</select>

	<!-- 사용량 총 건수 -->
	<select id="getMembershipUsageTotalCount" parameterType="membershipUsage" resultType="long">
		/* getMembershipUsageTotalCount */
		SELECT COUNT(membership_usage_id)
		FROM membership_usage
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchMembershipId != null and searchMembershipId != ''">
				membership_id = #{searchMembershipId}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
				AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
				AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
		</trim>
	</select>

	<!-- 로그 총 건수 -->
	<select id="getMembershipLogTotalCount" parameterType="membershipLog" resultType="long">
		/* getMembershipLogTotalCount */
		SELECT COUNT(membership_log_id)
		FROM membership_log
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
				AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
				AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
		</trim>
	</select>

	<!-- 사용량 목록 -->
	<select id="getListMembershipUsage" parameterType="membershipUsage" resultType="membershipUsage">
		/* getListMembershipUsage */
		SELECT X.*, Y.membership_name AS membershipName, Y.upload_file_size AS uploadFileSize, Y.convert_file_count AS convertFileCount
		FROM membership_usage X LEFT JOIN membership Y
			ON X.membership_id = Y.membership_id
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchMembershipId != null and searchMembershipId != ''">
				X.membership_id = #{searchMembershipId}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
				AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
				AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
		</trim>
		<choose>
			<when test="orderWord != null and orderWord != '' and orderValue != null and orderValue != ''">
				ORDER BY ${orderWord} ${orderValue}
			</when>
			<otherwise>
				ORDER BY insert_date DESC, user_id DESC
			</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>

	<!-- 로그 목록 -->
	<select id="getListMembershipLog" parameterType="membershipLog" resultType="membershipLog">
		/* getListMembershipLog */
		SELECT X.*, Y.membership_name AS currentMembershipName, Z.membership_name AS requestMembershipName
		FROM membership_log X LEFT JOIN membership Y
				ON X.current_membership_id = Y.membership_id
			LEFT JOIN membership Z
				ON X.request_membership_id = Z.membership_id
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
				AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
				AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
		</trim>
		<choose>
			<when test="orderWord != null and orderWord != '' and orderValue != null and orderValue != ''">
				ORDER BY ${orderWord} ${orderValue}
			</when>
			<otherwise>
				ORDER BY insert_date DESC, user_id DESC
			</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>

	<!-- 멤버십 로그 정보 조회 -->
	<select id="getMembershipLog" parameterType="long" resultType="membershipLog">
		/* getMembershipLog */
		SELECT *
		FROM membership_log
		WHERE membership_log_id = #{membershipLogId}
	</select>

	<!-- 멤버십 등록 -->
	<insert id="insertMembershipUsage" parameterType="membershipUsage">
		/* insertMembershipUsage */
		<selectKey keyProperty="membershipUsageId" resultType="long" order="BEFORE">
			SELECT NEXTVAL('membership_usage_seq')
		</selectKey>
		INSERT INTO membership_usage(
			membership_usage_id, membership_id, user_id, update_date
		) values(
			#{membershipUsageId}, #{membershipId}, #{userId}, NOW()
		)
	</insert>

	<!-- 멤버십 로그 등록 -->
	<insert id="insertMembershipLog" parameterType="membershipLog">
		/* insertMembershipLog */
		<selectKey keyProperty="membershipLogId" resultType="long" order="BEFORE">
			SELECT NEXTVAL('membership_log_seq')
		</selectKey>
		INSERT INTO membership_log(
			membership_log_id, current_membership_id, request_membership_id, user_id, status
		) values(
			#{membershipLogId}, #{currentMembershipId}, #{requestMembershipId}, #{userId}, #{status}
		)
	</insert>

	<!-- 멤버십 변환 횟수 갱신 -->
	<update id="updateMembershipUsageFileCount" parameterType="membershipUsage">
		/* updateMembershipUsageFileCount */
		UPDATE membership_usage
		SET use_convert_file_count = use_convert_file_count + 1,
			update_date = NOW()
		WHERE user_id = #{userId}
	</update>

	<!-- 멤버십 로그 상태 변경 -->
	<update id="updateMembershipLog" parameterType="membershipLog">
		/* updateMembershipLog */
		UPDATE membership_log
		SET status = #{status}
		WHERE membership_log_id = #{membershipLogId}
	</update>

	<!-- 사용량 수정 -->
	<update id="updateMembershipUsage" parameterType="membershipUsage">
		/* updateMembershipUsage */
		UPDATE membership_usage
		SET
		<if test="membershipId != null and membershipId != ''">
			membership_id = #{membershipId},
		</if>
		<if test="useUploadFileSize != null and useUploadFileSize > 0">
			use_upload_file_size = #{useUploadFileSize},
		</if>
		update_date = NOW()
		WHERE user_id = #{userId}
	</update>

</mapper>