<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">mago3D</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="referrer" content="origin" />
    <th:block layout:fragement="pageCustomStyle"></th:block>
</head>
<body>
    <div class="skip-navigation">
        <p><a href="#siteBody">메뉴 건너뛰기</a></p>
    </div>
    <div th:replace="~{/fragments/header :: #headerWrap}"></div>
    <div th:replace="~{/fragments/menu :: #navWrap}"></div>

    <th:block layout:fragment="pageCustomContent"></th:block>
    <th:block th:replace="/fragments/footer"></th:block>
    <th:block layout:fragment="pageCustomScript"></th:block>
</body>
</html>
