<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="data-library-popup" class="detaildata poplayer" style="display: none;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title">3D 라이브러리 목록</h6>
	<div class="tbl-library">
		<table>
			<colgroup>
				<col width="12%" />
				<col width="30%" />
				<col width="58%" />
			</colgroup>
			<tr>
				<th>선택</th>
				<th>그룹명</th>
				<th>3D 라이브러리</th>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td class="alg-left">
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="paging-center">페이징자리</div>
</div>
</html>
