<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="data-library-popup" class="detaildata poplayer" style="display: none;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title">3D 라이브러리 목록</h6>
		<div class="library-place">
		<form>
			<label>배치방법</label>
			<input type="radio" /> 없음
			<input type="radio" /> 점으로 배치
			<input type="radio" /> 선으로 배치
		</form>
	</div>
	<div class="library-srch">
		<form>
			<label>그룹</label>
			<select>
				<option>전체</option>
				<option>가로수</option>
				<option>가로등</option>
			</select>
			<button type="button">검색</button>
		</form>
	</div>

	<div class="tbl-library">
		<table>
			<colgroup>
				<col width="12%" />
				<col width="30%" />
				<col width="58%" />
			</colgroup>
			<tr>
				<th>선택</th>
				<th>그룹명</th>
				<th>3D 라이브러리</th>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>가로수</td>
				<td>
					은행나무 12년산
					<span class="sumnail"></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="layer-paging">
		<div class="paging-wrapper">
			<a class="pre01"></a>
			<a class="pre"></a>
			<a class="current">1</a>
			<a class="lnk">2</a>
			<a class="lnk">3</a>
			<a class="lnk">4</a>
			<a class="lnk">5</a>
			<a class="next"></a>
			<a class="next01"></a>
			
		</div>
	</div>
</div>
</html>
