<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="data-library-popup" class="detaildata poplayer" style="display: none;max-height: 800px;height: auto;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title"><th:block th:text="#{data.library.list}"></th:block></h6>
		<div class="library-place">
		<form>
			<span><th:block th:text="#{data.library.placement.method}"></th:block></span>
			<input type="radio" id="data-library-draw-none" name="data-library-radio-draw-type" data-type="none" checked/><label for="data-library-draw-none"><th:block th:text="#{common.none}"></th:block></label>
			<input type="radio" id="data-library-draw-point" name="data-library-radio-draw-type" data-type="point" disabled/><label for="data-library-draw-point"><th:block th:text="#{data.library.draw.point}"></th:block></label>
			<input type="radio" id="data-library-draw-line" name="data-library-radio-draw-type" data-type="line" disabled/><label for="data-library-draw-line"><th:block th:text="#{data.library.draw.line}"></th:block></label>
		</form>
	</div>
	<div class="library-srch">
		<form>
			<label for="data-library-select-group"><th:block th:text="#{common.group}"></th:block></label>
			<select id="data-library-select-group">
				<option><th:block th:text="#{common.total}"></th:block></option>
				<option><th:block th:text="#{data.library.street.lamp}"></th:block></option>
				<option><th:block th:text="#{data.library.colonnade}"></th:block></option>
			</select>
			<button id="data-library-select-group-search" type="button"><th:block th:text="#{common.search}"></th:block></button>
		</form>
	</div>

	<div class="tbl-library">
		<table>
			<thead>
				<colgroup>
					<col width="12%" />
					<col width="30%" />
					<col width="58%" />
				</colgroup>
				<tr>
					<th><th:block th:text="#{common.select}"></th:block></th>
					<th><th:block th:text="#{common.group.name}"></th:block></th>
					<th><th:block th:text="#{data.library}"></th:block></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<!-- <div class="layer-paging">
		<div class="paging-wrapper">
			<a class="pre01"></a>
			<a class="pre"></a>
			<a class="current">1</a>
			<a class="lnk">2</a>
			<a class="lnk">3</a>
			<a class="lnk">4</a>
			<a class="lnk">5</a>
			<a class="next"></a>
			<a class="next01"></a>
			
		</div>
	</div> -->
</div>
</html>
