<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="map-control-popup" class="detaildata poplayer" style="display: none;max-height: 800px;height: auto;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title"><th:block th:text="#{data.setting}"></th:block></h6>
	<button type="button" id="map-control-advance-toggle-btn" data-collapse="true"><th:block th:text="#{common.more}"></th:block></button>
	<div class="setup marT15">
		<label><th:block th:text="#{common.label}"></th:block></label>
		<div class="data-go">
			<div id="labelDisplay" class="switch-toggle switch-ios">
        		<input type="radio" id="labelDisplayY" name="labelDisplay" value="true">
        		<label for="labelDisplayY"><th:block th:text="#{common.show}"></th:block></label>
        		<input type="radio" id="labelDisplayN" name="labelDisplay" value="false" checked>
        		<label for="labelDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
        		<a></a>
      		</div>
		</div>
	</div>
	<div class="setup advance">
		<label>Origin</label>
		<div class="data-go">
			<div id="originDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="originDisplayY" name="originDisplay" value="true">
                <label for="originDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="originDisplayN" name="originDisplay" value="false" checked>
                <label for="originDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup advance">
		<label>Boundig Box</label>
		<div class="data-go">
			<div id="bboxDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="bboxDisplayY" name="bboxDisplay" value="true">
                <label for="bboxDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="bboxDisplayN" name="bboxDisplay" value="false" checked>
                <label for="bboxDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup advance">
		<label><th:block th:text="#{toolbar.shadow}"></th:block></label>
		<div class="data-go">
			<div id="shadowDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="shadowDisplayY" name="shadowDisplay" value="true">
                <label for="shadowDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="shadowDisplayN" name="shadowDisplay" value="false" checked>
                <label for="shadowDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup">
		<label><th:block th:text="#{toolbar.select.and.move}"></th:block></label>
		<div class="data-go" style="width:150px;">
			<div class="switch-toggle switch-ios">
                <input type="radio" id="objectNoneMove" name="objectMoveMode" value="2" checked>
                <label for="objectNoneMove">None</label>
                <input type="radio" id="objectAllMove" name="objectMoveMode" value="0">
                <label for="objectAllMove">All</label>
                <input type="radio" id="objectMove" name="objectMoveMode" value="1">
                <label for="objectMove">Object</label>
                <a></a>
            </div>
		</div>
	</div>
	<div id="data-control-wrap" style="display:none;">
		<div class="data-ttl header" id="data-control-wrap-header"></div>
		<div class="data-ttl"><th:block th:text="#{toolbar.change.color}"></th:block></div>
		<div class="object-setup object-setup-color">
			<label><th:block th:text="#{common.color}"></th:block></label>
			<span class="color-value"></span>
			<input type="text" class="wd50" />
			<input type="color" style="height:0.1px !important;width:0.1px;visibility:hidden;"/>
			<button type="button" id="data-control-color-apply-btn" class="apply marL10"><th:block th:text="#{common.apply}"></th:block></button>
			<button type="button" id="data-control-color-restore-btn" class="cancel"><th:block th:text="#{common.cancel}"></th:block></button>
		</div>
		<form id=data-control-form th:action="@{#}">
			<input type="hidden" name="dataId" value="" />
			<div class="data-ttl"><th:block th:text="#{toolbar.change.location}"></th:block></div>
			<div class="object-setup object-setup-position">
				<label for="data-control-input-longitude"><th:block th:text="#{common.longitude}"></th:block></label>
				<input type="text" id="data-control-input-longitude" name="longitude" readonly/>
				<label for="data-control-input-latitude"><th:block th:text="#{common.latitude}"></th:block></label>
				<input type="text" id="data-control-input-latitude" name="latitude" readonly/>
				<label for="data-control-input-altitude"><th:block th:text="#{common.altitude}"></th:block></label>
				<input type="text" class="wd50" id="data-control-input-altitude" name="altitude" readonly />
				<button type="button" id="data-control-alt-up-btn" class="btn-up" data-type="up"><span class="blind"><th:block th:text="#{common.up}"></th:block></span></button>
				<button type="button" id="data-control-alt-down-btn" class="btn-down" data-type="down"><span class="blind"><th:block th:text="#{common.down}"></th:block></span></button>
				<label for="data-control-input-altitude-offset">offset</label>
				<input type="text" id="data-control-input-altitude-offset" class="wd50" value="1"/>
			</div>
			<div class="data-ttl"><th:block th:text="#{toolbar.change.rotation}"></th:block></div>
			<div class="object-setup object-setup-rotation" style="-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;">
				<label for="data-control-input-pitch">x(<th:block th:text="#{common.pitch}"></th:block>)</label>
				<input type="text" id="data-control-input-pitch" name="pitch" class="wd50 data-control-rotation-input" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="pitch"></span>
				</span>
				<label for="data-control-input-roll">y(<th:block th:text="#{common.roll}"></th:block>)</label>
				<input type="text" id="data-control-input-roll" name="roll" class="wd50 data-control-rotation-input" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="roll"></span>
				</span>
				<label for="data-control-input-heading">z(<th:block th:text="#{common.heading}"></th:block>)</label>
				<input type="text" id="data-control-input-heading" name="heading" class="wd50 data-control-rotation-input" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="heading"></span>
				</span>
			</div>
			<hr class="layer-line" />
			<div class="btn-center">
	<th:block th:if="${session.USER_SESSION}">
				<button id="data-control-save-btn" type="button"><th:block th:text="#{toolbar.change.rotation.and.location}"></th:block></button>
	</th:block>
	<th:block th:unless="${session.USER_SESSION}">
				<button type="button" onclick="alert(JS_MESSAGE['user.session.empty']); return false;"><th:block th:text="#{toolbar.change.rotation.and.location}"></th:block></button>
	</th:block>
				<button id="data-control-issue-btn" type="button"><th:block th:text="#{toolbar.issue.registration}"></th:block></button>
				<button id="data-control-attr-btn" type="button"><th:block th:text="#{data.inquiry}"></th:block></button>
			</div>
		</form>
	</div>
</div>
</html>
