<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="map-control-popup" class="detaildata poplayer" style="display: none;max-height: 800px;height: auto;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title">3D 데이터 설정</h6>
	<button type="button" id="map-control-advance-toggle-btn" data-collapse="true">더보기</button>
	<div class="setup marT15">
		<label>레이블</label>
		<div class="data-go">
			<div id="labelDisplay" class="switch-toggle switch-ios">
        		<input type="radio" id="labelDisplayY" name="labelDisplay" value="true">
        		<label for="labelDisplayY"><th:block th:text="#{common.show}"></th:block></label>
        		<input type="radio" id="labelDisplayN" name="labelDisplay" value="false" checked>
        		<label for="labelDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
        		<a></a>
      		</div>
		</div>
	</div>
	<div class="setup advance">
		<label>Origin</label>
		<div class="data-go">
			<div id="originDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="originDisplayY" name="originDisplay" value="true">
                <label for="originDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="originDisplayN" name="originDisplay" value="false" checked>
                <label for="originDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup advance">
		<label>Boundig Box</label>
		<div class="data-go">
			<div id="bboxDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="bboxDisplayY" name="bboxDisplay" value="true">
                <label for="bboxDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="bboxDisplayN" name="bboxDisplay" value="false" checked>
                <label for="bboxDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup advance">
		<label>그림자</label>
		<div class="data-go">
			<div id="shadowDisplay" class="switch-toggle switch-ios">
                <input type="radio" id="shadowDisplayY" name="shadowDisplay" value="true">
                <label for="shadowDisplayY"><th:block th:text="#{common.show}"></th:block></label>
                <input type="radio" id="shadowDisplayN" name="shadowDisplay" value="false" checked>
                <label for="shadowDisplayN"><th:block th:text="#{common.hide}"></th:block></label>
                <a></a>
            </div>
		</div>
	</div>
	<div class="setup">
		<label>선택 및 이동</label>
		<div class="data-go" style="width:150px;">
			<div class="switch-toggle switch-ios">
                <input type="radio" id="objectNoneMove" name="objectMoveMode" value="2" checked>
                <label for="objectNoneMove">None</label>
                <input type="radio" id="objectAllMove" name="objectMoveMode" value="0">
                <label for="objectAllMove">All</label>
                <input type="radio" id="objectMove" name="objectMoveMode" value="1">
                <label for="objectMove">Object</label>
                <a></a>
            </div>
		</div>
	</div>
	<div id="data-controll-wrap" style="display:none;">
		<div class="data-ttl header" id="data-controll-wrap-header"></div>
		<div class="data-ttl">색상 변경</div>
		<div class="object-setup object-setup-color">
			<label>색상</label>
			<span class="color-value"></span>
			<input type="text" class="wd50" />
			<input type="color" style="height:0.1px !important;width:0.1px;visibility:hidden;"/>
			<button type="button" id="data-controll-color-apply-btn" class="apply marL10">적용</button>
			<button type="button" id="data-controll-color-restore-btn" class="cancel">취소</button>
		</div>
		<form id=data-controll-form th:action="@{#}">
			<input type="hidden" name="dataId" value="" />
			<div class="data-ttl">위치 변경</div>
			<div class="object-setup object-setup-position">
				<label for="data-controll-input-longitude">경도</label>
				<input type="text" id="data-controll-input-longitude" name="longitude" readonly/>
				<label for="data-controll-input-latitude">위도</label>
				<input type="text" id="data-controll-input-latitude" name="latitude" readonly/>
				<label for="data-controll-input-altitude">높이</label>
				<input type="text" class="wd50" id="data-controll-input-altitude" name="altitude" readonly />
				<button type="button" id="data-controll-alt-up-btn" class="btn-up" data-type="up"><span class="blind">위로</span></button>
				<button type="button" id="data-controll-alt-down-btn" class="btn-down" data-type="down"><span class="blind">아래로</span></button>
				<label for="data-controll-input-altitude-offset">offset</label>
				<input type="text" id="data-controll-input-altitude-offset" class="wd50" value="1"/>
			</div>
			<div class="data-ttl">회전 변경</div>
			<div class="object-setup object-setup-rotation">
				<label for="data-controll-input-pitch">x(피치)</label>
				<input type="text" id="data-controll-input-pitch" name="pitch" class="wd50" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="pitch"></span>
				</span>
				<label for="data-controll-input-roll">y(롤)</label>
				<input type="text" id="data-controll-input-roll" name="roll" class="wd50" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="roll"></span>
				</span>
				<label for="data-controll-input-heading">z(헤딩)</label>
				<input type="text" id="data-controll-input-heading" name="heading" class="wd50" readonly/>
				<span class="wscroll-bg">
					<span class="scroll" data-type="heading"></span>
				</span>
			</div>
			<hr class="layer-line" />
			<div class="btn-center">
	<th:block th:if="${session.USER_SESSION}">
				<button id="data-controll-save-btn" type="button">위치/회전변경</button>
	</th:block>
	<th:block th:unless="${session.USER_SESSION}">
				<button type="button" onclick="alert('로그인 후 이용 가능한 서비스 입니다.'); return false;">위치/회전변경</button>
	</th:block>
				<button id="data-controll-issue-btn" type="button">이슈 등록</button>
				<button id="data-controll-attr-btn" type="button">데이터 조회</button>
			</div>
		</form>
	</div>
</div>
</html>
