<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="master-plan-popup" class="detaildata poplayer" style="display: none;">
	<button type="button" class="pop-close"></button>
	<h6 class="pop-title"><th:block th:text="#{master.plane.visualization}"></th:block></h6>
	<div class="tbl-layer">
		<table>
			<colgroup>
				<col width="33%" />
				<col width="33%" />
				<col width="34%" />
			</colgroup>
			<tr>
				<th><th:block th:text="#{common.sdo.name}"></th:block></th>
				<th><th:block th:text="#{common.color}"></th:block></th>
				<th>3D <th:block th:text="#{common.visualization}"></th:block></th>
			</tr>
		</table>
	</div>
</div>
</html>
