<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="search-summary-source" type="text/x-handlebars-template">
	<!-- 전체건수-페이지 -->
	<div class="pgcount">
		<div class="pgcount-total">
			<th:block th:text="#{common.all}"></th:block>
			<span class="txt-blue">{{formatNumber pagination.totalCount}}</span>
			<th:block th:text="#{common.count.unit}"></th:block>
		</div>
		<div class="pgcount-number">
			<span class="txt-red">{{formatNumber pagination.pageNo}}</span> / {{formatNumber pagination.lastPage}}
			<th:block th:text="#{common.page}"></th:block>
		</div>
	</div>
</script>
</html>