<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="ruleListDialog" title="레이어 Rule 선택" class=".ruleDialog">
		<table class="list-table scope-col" summary="레이어 Rule 선택">
			<caption class="hiddenTag">룰 선택</caption>
			<colgroup>
				<col class="col-name"></col>
				<col class="col-toggle"></col>
				<col class="col-function"></col>
				<col class="col-date"></col>
				<col class="col-toggle"></col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col" class="col-name">룰 그룹명</th>
					<th scope="col" class="col-toggle">룰명</th>
					<th scope="col" class="col-toggle">설명</th>
					<th scope="col" class="col-date">등록일</th>
					<th scope="col" class="col-date">선택</th>
				</tr>
			</thead>
			<tbody>
<th:block th:if="${#lists.isEmpty(ruleList)}">
				<tr>
					<td colspan="5" class="col-none">룰이 존재하지 않습니다.</td>
				</tr>
</th:block>
<th:block th:unless="${#lists.isEmpty(ruleList)}" th:each="rule : ${ruleList}">
				<tr>
					<td>
						<th:block th:text="${rule.ruleGroupName }"></th:block>
					</td>
					<td class="col-type">
						<th:block th:text="${rule.ruleName }"></th:block>
					</td>
					<td class="col-key" th:text="${rule.description}"></td>
					<td class="col-date">
						<p th:text="${#temporals.format(rule.insertDate,'yyyy-MM-dd HH:mm')}"></p>
					</td>
					<td class="col-toggle">
						<a href="#" th:onclick="confirmRule([[${rule.ruleId}]], [[${rule.ruleName}]]); return false;">확인</a>
					</td>
				</tr>
</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>
