<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>실내외 3차원 통합 플랫폼, mago3D</title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/display.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body class="bggray">
<div id="find-password">
	<h2 class="find-password">비밀번호 찾기</h2>
	<form class="find-password-select " id="findPasswordForm" th:object="${userInfo}" method="post" action="/sign/password/process-find" onsubmit="return check()">
		<fieldset>
			<legend>비밀번호 찾기</legend>
			<label for="userName">이름<span class="join-key">*</span></label>
			<input type="text" id="userName" name="userName" class="inputname" />

			<label for="email">이메일<span class="find-password-key">*</span></label>
			<input type="text" id="email" name="email" class="inputemail" th:field="*{email}"/>
			<button type="submit" class="btn-find-password">찾기</button>
		</fieldset>
	</form>
	<a type="button" href="/sign/signin" class="btn-go-login">로그인하기</a>
	<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		if("[[${userInfo.errorCode}]]"){
			var errorCode = "[[${userInfo.errorCode}]]";
			alert(JS_MESSAGE[errorCode]);
		}
	});

	function check() {

		if ($("#userName").val() == "") {
			alert("이름을 입력하여 주십시오.");
			$("#userName").focus();
			return false;
		}

		if ($("#email").val() == "") {
			alert("이메일을 입력하여 주십시오.");
			$("#email").focus();
			return false;
		}
	}

</script>
</html>
