<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>실내외 3차원 통합 플랫폼, mago3D</title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/display.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body class="bggray">
<div id="join">
	<h2 class="join">회원가입</h2>
	<form class="join-select " id="signupForm" th:object="${signupForm}" method="post" action="/sign/process-signup" onsubmit="return check()">
		<input type="hidden" id="signupType" name="signupType" th:value="*{signupType}"/>
		<input type="hidden" id="signinType" name="signinType" th:value="*{signupType}"/>
		<fieldset>

			<legend>회원가입</legend>
			<label for="userId">아이디<span class="join-key">*</span></label>
			<input type="text" id="userId" name="userId" class="inputid" />

			<label for="userName">이름<span class="join-key">*</span></label>
			<input type="text" name="userName" class="inputname" th:field="*{userName}" th:if="${signupForm.signupType} == '2'" readonly/>
			<input type="text" id="userName" name="userName" class="inputname" th:field="*{userName}" th:unless="${signupForm.signupType} == '2'" />

			<div th:unless="${signupForm.signupType} == '2'">
				<label for="newPassword">비밀번호<span class="join-key">*</span></label>
				<input type="password" id="newPassword" name="newPassword" class="inputpwd" />
				<span class="txt-guide" th:text="|영문 대문자 ${policy.passwordEngUpperCount}개, 소문자 ${policy.passwordEngLowerCount}개, 숫자 ${policy.passwordNumberCount}개, 특수문자 ${policy.passwordCreateChar}중 ${policy.passwordSpecialCharCount}개 이상을 포함하여 ${policy.passwordMinLength} 이상 ${policy.passwordMaxLength} 이하|"></span>

				<label for="passwordConfirm">비밀번호 확인<span class="join-key">*</span></label>
				<input type="password" id="passwordConfirm" name="passwordConfirm" class="inputpwd" />

				<label for="mobilePhone">핸드폰 번호<span class="join-key">*</span></label>
				<input type="text" id="mobilePhone" name="mobilePhone" class="inputMobilePhone" maxlength="13"/>
			</div>

			<label for="email">이메일<span class="join-key">*</span></label>
			<input type="text" name="email" class="inputemail" th:field="*{email}" th:if="${signupForm.signupType} == '2'" readonly/>
			<input type="text" id="preEmail" class="inputemail" th:unless="${signupForm.signupType} == '2'"/>
			<form th:unless="${signupForm.signupType} == '2'">
				<select id="selectEmail" class="select-email">
					<option value="">직접입력</option>
					<option value="@naver.com">@naver.com</option>
					<option value="@daum.net">@daum.net</option>
					<option value="@gmail.com">@gmail.com</option>
				</select>
			</form>
			<input type="hidden" id="email" name="email" value="" th:unless="${signupForm.signupType} == '2'" />
			<button type="submit" class="btn-join">가입하기</button>
		</fieldset>
	</form>
	<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
<!-- /.join -->
</body>
<script type="text/javascript">
	$(document).ready(function() {
		if("[[${signupForm.errorCode}]]"){
			var errorCode = "[[${signupForm.errorCode}]]";
			alert(JS_MESSAGE[errorCode]);
		}
	});

	function autoHypenPhone(str){
		str = str.replace(/[^0-9]/g, '');
		var tmp = '';
		if( str.length < 4){
			return str;
		}else if(str.length < 7){
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3);
			return tmp;
		}else if(str.length < 11){
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 3);
			tmp += '-';
			tmp += str.substr(6);
			return tmp;
		}else{
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 4);
			tmp += '-';
			tmp += str.substr(7);
			return tmp;
		}
		return str;
	}

	var mobilePhone = document.getElementById('mobilePhone');
	mobilePhone.onkeyup = function(event){
		event = event || window.event;
		var _val = this.value.trim();
		this.value = autoHypenPhone(_val) ;
	}

	var preEmail = document.getElementById('preEmail');
	var selectEmail = document.getElementById('selectEmail');
	var email = document.getElementById('email');

	preEmail.onchange = function(event){
		event = event || window.event;
		var _val = this.value.trim() ;
		email.value = _val + selectEmail.value;
	}

	selectEmail.onchange = function(event){
		event = event || window.event;
		var _val = preEmail.value.trim() ;
		email.value = _val + this.value;
	}

	function check() {

		if ($("#userId").val() == "") {
			alert("아이디를 입력하여 주십시오.");
			$("#userId").focus();
			return false;
		}

		if ($("#userName").val() == "") {
			alert("이름을 입력하여 주십시오.");
			$("#userName").focus();
			return false;
		}

		if ($("#newPassword").val() == "") {
			alert("비밀번호를 입력하여 주십시오.");
			$("#newPassword").focus();
			return false;
		}

		if ($("#mobilePhone").val() == "") {
			alert("전화번호를 입력하여 주십시오.");
			$("#mobilePhone").focus();
			return false;
		}

		if ($("#email").val() == "") {
			alert("이메일을 입력하여 주십시오.");
			$("#email").focus();
			return false;
		}
	}

</script>
</html>
