<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="실내외 3차원 통합 플랫폼, mago3D" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>실내외 3차원 통합 플랫폼, mago3D</title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/display.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body class="bggray">
<div id="join">
	<h2 class="join">회원가입</h2>
	<form class="join-select " id="signupForm" th:object="${signupForm}" method="post" action="/sign/process-signup">
		<fieldset>
			<legend>회원가입</legend>

			<label for="userId">아이디<span class="join-key">*</span></label>
			<input type="text" id="userId" name="userId" class="inputid" />

			<label for="userName">이름<span class="join-key">*</span></label>
			<input type="text" id="userName" name="userName" class="inputname" />

			<label for="password">비밀번호<span class="join-key">*</span></label>
			<input type="password" id="password" name="newPassword" class="inputpwd" />
			<span class="txt-guide">특수문자, 대소문자, 영문포함 8자 이상 32자 이하</span>

			<label for="passwordConfirm">비밀번호 확인<span class="join-key">*</span></label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="inputpwd" />
            <span class="txt-guide">특수문자, 대소문자, 영문포함 8글자 이상</span>

			<label for="mobilePhone">핸드폰 번호<span class="join-key">*</span></label>
			<input type="text" id="mobilePhone" name="mobilePhone" class="inputMobilePhone" maxlength="13"/>

			<label for="email">이메일<span class="join-key">*</span></label>
			<input type="text" id="preEmail" class="inputemail"/>
			<form>
				<select id="slctEmail" class="slct-email">
					<option value="@naver.com">@naver.com</option>
					<option value="@daum.net">@daum.net</option>
					<option value="@gmail.com">@gmail.com</option>
					<option value="">직접입력</option>
				</select>
			</form>
			<input type="hidden" id="email" name="email" value="">
			<button type="submit" class="btn-join">가입하기</button>
		</fieldset>
	</form>
	<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
<!-- /.join -->
</body>
<script type="text/javascript">
	$(document).ready(function() {
		if("[[${signupForm.errorCode}]]"){
			var errorCode = "[[${signupForm.errorCode}]]";
			alert(JS_MESSAGE[errorCode]);
		}
	});

	function autoHypenPhone(str){
		str = str.replace(/[^0-9]/g, '');
		var tmp = '';
		if( str.length < 4){
			return str;
		}else if(str.length < 7){
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3);
			return tmp;
		}else if(str.length < 11){
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 3);
			tmp += '-';
			tmp += str.substr(6);
			return tmp;
		}else{
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 4);
			tmp += '-';
			tmp += str.substr(7);
			return tmp;
		}
		return str;
	}

	var mobilePhone = document.getElementById('mobilePhone');
	mobilePhone.onkeyup = function(event){
		event = event || window.event;
		var _val = this.value.trim();
		this.value = autoHypenPhone(_val) ;
	}

	var preEmail = document.getElementById('preEmail');
	var slctEmail = document.getElementById('slctEmail');
	var email = document.getElementById('email');

	preEmail.onkeyup = function(event){
		event = event || window.event;
		var _val = this.value.trim() ;
		email.value = _val + slctEmail.value;
	}

	slctEmail.onchange = function(event){
		event = event || window.event;
		var _val = preEmail.value.trim() ;
		email.value = _val + this.value;
	}



</script>

</html>
