<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="emailDialog" class="basicTable" title="이메일 변경하기" style="display: none;">
	<form id="emailForm" th:object="${userInfo}" method="post" th:action="@{#}" onsubmit="return false;">
	<table class="inner-table scope-row">
		<caption class="hiddenTag">이메일 변경</caption>
		<colgroup>
			<col class="col-label"></col>
			<col class="col-data"></col>
		</colgroup>
		<tr>
			<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.email}"></th:block></th>
			<td class="col-data">
				<input type="text" id="email" name="email" class="inputemail ml" />
			</td>
		</tr>
		<tr>
			<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.new.email}"></th:block></th>
			<td class="col-data" style="font-size: 14px;">
				<input type="text" id="preEmail" name="preEmail" class="inputemail ml" />
				<select id="selectEmail" name="selectEmail" class="select-email">
					<option value="">직접입력</option>
					<option value="@naver.com">@naver.com</option>
					<option value="@daum.net">@daum.net</option>
					<option value="@gmail.com">@gmail.com</option>
				</select>
				<input type="hidden" id="newEmail" name="newEmail" value="" />
			</td>
		</tr>
	</table>

	<div style="margin-top: 10px; text-align: center;">
		<button id="emailUpdateButton" th:text="수정" />
	</div>
	</form>
</div>
</html>