<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow"/>
    <title><th:block th:text="#{data.group.input.page.title}"></th:block></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
    <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div th:replace="~{/fragments/header :: #headerWrap}"></div>
<div id="wrap">
    <!-- S: NAVWRAP -->
    <div class="navWrap">
        <div th:replace="~{/fragments/menu :: #navWrap}"></div>
    </div>
    <!-- E: NAVWRAP -->

	<div class="container" style="float:left; width: calc(100% - 78px);">
		<div style="padding: 40px 20px 30px 10px; font-size: 28px; color:black; font-weight:600;">마이 페이지</div>
        <!-- TAB -->
        <div class="tabs w800">
            <ul class="tab">
				<li id="tabMyPageUserInfo"><a href="/mypage/user-modify">기본 정보</a></li>
				<li id="tabMyPageMembership"><a href="/mypage/membership">멤버십</a></li>
				<li id="tabMyPageUserPolicy"><a href="/mypage/user-policy">공간정보 설정</a></li>
            </ul>
        </div>

        <!-- S: 멤버십 정보 수정 -->
		<form id="membershipUsage" th:object="${membershipUsage}" method="post" th:action="@{#}" onsubmit="return false;">
		<table class="input-table scope-row w800">
			<colgroup>
				<col class="col-label l"></col>
				<col class="col-input"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row">
					멤버십 등급
				</th>
				<td class="col-input">
					<th:block th:text="${membershipUsage.membershipName}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					파일 업로딩 건수
				</th>
				<td class="col-input">
					<th:block th:text="${membershipUsage.useConvertFileCount}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					파일 업로딩 용량
				</th>
				<td class="col-input">
					<th:block th:text="${membershipUsage.useUploadFileSize}"></th:block>
				</td>
			</tr>
		</table>
		<div class="button-group w800">
			<div class="center-buttons">
				<input type="submit" th:value="#{common.save}" onclick="update();" />
			</div>
		</div>
        </form>
        <!-- E: 사용자 기본 정보 수정 -->
	</div>
</div>
<!-- E: WRAP -->
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//
	});

	function validate() {
		//
	}

	// 수정
	var updateFlag = true;
	function update() {
		if (validate() == false) {
			return false;
		}
		if(updateFlag) {
			updateFlag = false;
			var formData = $("#userInfo").serialize();
			$.ajax({
				url: "/mypage/users/[[${membershipUsage.membershipUsageId}]]",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					updateFlag = true;
				},
				error:function(request, status, error){
					alert(JS_MESSAGE["ajax.error.message"]);
					updateFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.double.click"]);
			return;
		}
	}
</script>
</body>
</html>
