<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow"/>
	<title><th:block th:text="#{mypage.title}"></th:block></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
    <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div th:replace="~{/fragments/header :: #headerWrap}"></div>
<div id="wrap">
    <!-- S: NAVWRAP -->
    <div class="navWrap">
        <div th:replace="~{/fragments/menu :: #navWrap}"></div>
    </div>
    <!-- E: NAVWRAP -->

	<div class="container" style="float:left; width: calc(100% - 72px);">
		<div style="padding: 40px 20px 30px 10px; font-size: 28px; color:black; font-weight:600;">My Page</div>
        <!-- TAB -->
        <div class="tabs w800">
            <ul class="tab">
				<li id="tabMyPageUserInfo"><a href="/mypage/user-modify"><th:block th:text="#{mypage.user.info.basic}"></th:block></a></li>
				<li id="tabMyPageMembership"><a href="/mypage/membership"><th:block th:text="#{mypage.membership}"></th:block></a></li>
				<li id="tabMyPageUserPolicy"><a href="/mypage/user-policy"><th:block th:text="#{mypage.user.policy.config}"></th:block></a></li>
            </ul>
        </div>

        <!-- S: 멤버십 정보 수정 -->
		<form id="membershipUsage" th:object="${membershipUsage}" method="post" th:action="@{#}" onsubmit="return false;">
		<table class="input-table scope-row w800">
			<colgroup>
				<col class="col-label l"></col>
				<col class="col-input"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row">
					<th:block th:text="#{mypage.membership.grade}"></th:block>
				</th>
				<td class="col-input">
					<span>
						<th:block th:text="${membershipUsage.membershipName}"></th:block>
					</span>
					<br />
					<span>
						<button type="button" class="btn-mypage" id="membershipButton">
							<th:block th:text="#{common.update}"></th:block>
						</button>
					</span>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					<th:block th:text="#{mypage.membership.file.upload.count}"></th:block>
				</th>
				<td class="col-input">
					<th:block th:text="${membershipUsage.useConvertFileCount}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					<th:block th:text="#{mypage.membership.file.upload.size}"></th:block>
				</th>
				<td class="col-input">
	<th:block th:if="${membershipUsage.useUploadFileSize} < 1024">
					<th:block th:text="${membershipUsage.useUploadFileSize}"></th:block> KB
	</th:block>
	<th:block th:if="${membershipUsage.useUploadFileSize} > 1024">
					<th:block th:text="${membershipUsage.useUploadFileSize / 1024}"></th:block> MB
	</th:block>
	<th:block th:if="${membershipUsage.useUploadFileSize} > (1024 * 1024)">
						<th:block th:text="${membershipUsage.useUploadFileSize / (1024 * 1024)}"></th:block> GB
	</th:block>
				</td>
			</tr>
		</table>
		<div class="button-group w800">
			<div class="center-buttons">
				<input type="submit" th:value="#{common.update}" onclick="update();" />
			</div>
		</div>
        </form>
        <!-- E: 사용자 기본 정보 수정 -->
	</div>

	<div th:replace="~{/mypage/membership-dialog :: #membershipDialog}"></div>
</div>
<!-- E: WRAP -->
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-control.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-control.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//
	});

	$( "#membershipButton" ).on( "click", function() {
		membershipDialog.dialog( "open" );
		membershipDialog.dialog( "option", "title", JS_MESSAGE["membership.change"]);
	});

	var membershipDialog = $( "#membershipDialog" ).dialog({
		autoOpen: false,
		width: 800,
		height: 520,
		modal: true,
		resizable: false
	});

	// 수정
	var updateFlag = true;
	function update(membershipName) {
		if(updateFlag) {
			updateFlag = false;
			var formData = $("#membershipForm").serialize();
			$.ajax({
				url: "/mypages/memberships/" + membershipName,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
					}
					updateFlag = true;
					membershipDialog.dialog( "close" );
				},
				error:function(request, status, error){
					alert(JS_MESSAGE["ajax.error.message"]);
					updateFlag = true;
					membershipDialog.dialog( "close" );
				}
			});
		} else {
			alert(JS_MESSAGE["button.double.click"]);
			return;
		}
	}
</script>
</body>
</html>
