<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
	<!--<input type="hidden" id="userId" name="userId" th:field="*{userId}">-->
	<div id="passwordModifyDialog" class="basicTable" title="비밀번호 변경" style="display: none;">
		<form id="passwordModifyForm" name="passwordModifyForm" method="post" th:action="@{#}" onsubmit="return false;">
		<table class="inner-table scope-row" th:summary="#{data.object.attribute.dialog.summary}">
			<caption class="hiddenTag"><th:block th:text="#{data.object.attribute.dialog.caption}"></th:block></caption>
			<colgroup>
				<col class="col-label"></col>
				<col class="col-data"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.now}"></th:block></th>
				<td class="col-data">
					<input type="password" id="password" class="" name="password"/>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.new}"></th:block></th>
				<td class="col-data" style="font-size: 14px;">
					<input type="password" id="newPassword" class="" name="newPassword"/></br>
					<span class="txt-guide" th:text="|영문 대문자 ${policy.passwordEngUpperCount}개, 소문자 ${policy.passwordEngLowerCount}개, 숫자 ${policy.passwordNumberCount}개,
						특수문자 ${policy.passwordCreateChar}중 ${policy.passwordSpecialCharCount}개 이상을 포함하여 ${policy.passwordMinLength} 이상 ${policy.passwordMaxLength} 이하|"></span>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.check}"></th:block></th>
				<td class="col-data" style="font-size: 14px;">
					<input type="password" id="newPasswordConfirm" class="" name="newPasswordConfirm"/></br>
					<span class="txt-guide" th:text="|영문 대문자 ${policy.passwordEngUpperCount}개, 소문자 ${policy.passwordEngLowerCount}개, 숫자 ${policy.passwordNumberCount}개,
						특수문자 ${policy.passwordCreateChar}중 ${policy.passwordSpecialCharCount}개 이상을 포함하여 ${policy.passwordMinLength} 이상 ${policy.passwordMaxLength} 이하|"></span>
				</td>
			</tr>
		</table>
		<button id="passwordModifyButton" th:text="변경하기"/>
		</form>
	</div>
</html>