<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
	<div id="passwordDialog" class="basicTable" th:title="#{mypage.password.change}" style="display: none;">
		<form id="passwordForm" th:object="${userInfo}" method="post" th:action="@{#}" onsubmit="return false;">
		<table class="inner-table scope-row">
			<caption class="hiddenTag"><th:block th:text="#{mypage.password.change}"></th:block></caption>
			<colgroup>
				<col class="col-label"></col>
				<col class="col-data"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.now}"></th:block></th>
				<td class="col-data">
					<input type="password" id="password" name="password" class="ml" />
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.new}"></th:block></th>
				<td class="col-data" style="font-size: 14px;">
					<input type="password" id="newPassword" name="newPassword" class="ml" /></br>
					<span class="txt-guide" th:text="|#{user.password.upper.case} ${policy.passwordEngUpperCount}, #{user.password.lower.case} ${policy.passwordEngLowerCount},
					 							#{common.password.number} ${policy.passwordNumberCount}, #{user.special.char} ${policy.passwordSpecialCharCount} #{user.password.length} #{user.required.char}
					 							${policy.passwordMinLength} ~ ${policy.passwordMaxLength} #{user.password.length}|"></span>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;"><th:block th:text="#{user.password.check}"></th:block></th>
				<td class="col-data" style="font-size: 14px;">
					<input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="ml" /></br>
					<span class="txt-guide" th:text="|#{user.password.upper.case} ${policy.passwordEngUpperCount}, #{user.password.lower.case} ${policy.passwordEngLowerCount},
					 							#{common.password.number} ${policy.passwordNumberCount}, #{user.special.char} ${policy.passwordSpecialCharCount} #{user.password.length} #{user.required.char}
					 							${policy.passwordMinLength} ~ ${policy.passwordMaxLength} #{user.password.length}|"></span>
				</td>
			</tr>
		</table>

		<div style="margin-top: 10px; text-align: center;">
			<button id="passwordUpdateButton" th:text="#{common.update}" />
		</div>
		</form>
	</div>
</html>