<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow"/>
    <title><th:block th:text="#{my.page.title}"></th:block></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
    <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div th:replace="~{/fragments/header :: #headerWrap}"></div>
<div id="wrap">
    <!-- S: NAVWRAP -->
    <div class="navWrap">
        <div th:replace="~{/fragments/menu :: #navWrap}"></div>
    </div>
    <!-- E: NAVWRAP -->

	<div class="container" style="float:left; width: calc(100% - 78px);">
		<div style="padding: 40px 20px 30px 10px; font-size: 28px; color:black; font-weight:600;">My Page</div>
        <!-- TAB -->
        <div class="tabs w800">
            <ul class="tab">
				<li id="tabMyPageUserInfo"><a href="/mypage/user-modify">기본 정보</a></li>
				<li id="tabMyPageMembership"><a href="/mypage/membership">멤버십</a></li>
				<li id="tabMyPageUserPolicy"><a href="/mypage/user-policy">공간정보 설정</a></li>
            </ul>
        </div>

        <!-- S: 사용자 정보 수정 -->
		<form id="userInfo" th:object="${userInfo}" method="post" th:action="@{#}" onsubmit="return false;">
		<table class="input-table scope-row w800">
			<colgroup>
				<col class="col-label l"></col>
				<col class="col-input"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row">
					<th:block th:text="#{common.id}"></th:block>
				</th>
				<td class="col-input">
					<th:block th:text="${userInfo.userId}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					<th:block th:text="#{common.user.name}"></th:block>
				</th>
				<td class="col-input">
					<th:block th:text="${userInfo.userName}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					그룹명
				</th>
				<td class="col-input">
					<th:block th:text="${userInfo.userGroupName}"></th:block>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					이메일
				</th>
				<td class="col-input">
					<span>
	<th:block th:if="${#strings.isEmpty(userInfo.email)}">
					
	</th:block>인증, 서비스 변경에 사용할 이메일 주소 입니다.
	<th:block th:unless="${#strings.isEmpty(userInfo.email)}">
					<th:block th:text="${userInfo.viewMaskingEmail}"></th:block>
	</th:block>
					</span><br />
					<span>
						<button type="button" class="btn-mypage" id="emailButton">수정</button>
					</span>
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">
					비밀번호
				</th>
				<td class="col-input">
					비밀번호를 변경합니다. <br />
					<button type="button" class="btn-mypage" id="passwordButton">수정</button>
				</td>
			</tr>
		</table>
<!--		<div class="button-group">-->
<!--			<div class="center-buttons">-->
<!--				<input type="submit" th:value="#{common.save}" onclick="update();" />-->
<!--			</div>-->
<!--		</div>-->
        </form>
        <!-- E: 사용자 기본 정보 수정 -->
	</div>

	<!-- 이메일 변경 -->
	<div th:replace="~{/mypage/email-dialog :: #emailDialog}"></div>
	<!-- 비밀번호 변경 -->
	<div th:replace="~{/mypage/password-dialog :: #passwordDialog}"></div>
</div>
<!-- E: WRAP -->
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//
	});

	// // 수정
	// var updateFlag = true;
	// function update() {
	// 	if (validate() == false) {
	// 		return false;
	// 	}
	// 	if(updateFlag) {
	// 		updateFlag = false;
	// 		var formData = $("#userInfo").serialize();
	// 		$.ajax({
	// 			url: "/mypage/users/[[${userInfo.userId}]]",
	// 			type: "POST",
	// 			headers: {"X-Requested-With": "XMLHttpRequest"},
	// 			data: formData,
	// 			success: function(msg){
	// 				if(msg.statusCode <= 200) {
	// 					alert(JS_MESSAGE["update"]);
	// 					window.location.reload();
	// 				} else {
	// 					alert(JS_MESSAGE[msg.errorCode]);
	// 					console.log("---- " + msg.message);
	// 				}
	// 				updateFlag = true;
	// 			},
	// 			error:function(request, status, error){
	// 				alert(JS_MESSAGE["ajax.error.message"]);
	// 				updateFlag = true;
	// 			}
	// 		});
	// 	} else {
	// 		alert(JS_MESSAGE["button.double.click"]);
	// 		return;
	// 	}
	// }

	$( "#emailButton" ).on( "click", function() {
		emailDialog.dialog( "open" );
		emailDialog.dialog( "option", "title", "이메일 변경");
	});

	var emailDialog = $( "#emailDialog" ).dialog({
		autoOpen: false,
		width: 800,
		height: 210,
		modal: true,
		resizable: false
	});

	// 이메일 변경
	$("#emailUpdateButton").click(function() {
		var preEmail = $("#preEmail").val().trim();
		var selectEmail = $("#selectEmail").val().trim();
		var newEmail = null;
		if(selectEmail == null || selectEmail == "") {
			newEmail = preEmail;
		} else {
			newEmail = preEmail + selectEmail;
		}
		$("#newEmail").val(newEmail);

		if(!checkEmailModify(newEmail)){
			return false;
		};

		var formData = $('#emailForm').serialize();
		$.ajax({
			url: "/mypages/emails",
			type: "POST",
			headers: {"X-Requested-With": "XMLHttpRequest"},
			data: formData,
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					alert(JS_MESSAGE["change"]);
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
				}
				emailDialog.dialog( "close" );
			},
			error:function(request,status,error){
				alert(JS_MESSAGE["ajax.error.message"]);
				emailDialog.dialog( "close" );
			}
		});
	});

	$( "#passwordButton" ).on( "click", function() {
		passwordDialog.dialog( "open" );
		passwordDialog.dialog( "option", "title", "비밀번호 변경");
	});

	// 데이터 Object 속성 다이얼 로그
	var passwordDialog = $( "#passwordDialog" ).dialog({
		autoOpen: false,
		width: 800,
		height: 310,
		modal: true,
		resizable: false
	});

	// 비밀번호 변경
	$("#passwordUpdateButton").click(function() {
		if(!checkPasswordModify()){
			return false;
		};

		var formData = $('#passwordForm').serialize();
		$.ajax({
			url: "/mypages/passwords",
			type: "POST",
			headers: {"X-Requested-With": "XMLHttpRequest"},
			data: formData,
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					alert(JS_MESSAGE["change"]);
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
				}
				passwordDialog.dialog( "close" );
			},
			error:function(request,status,error){
				alert(JS_MESSAGE["ajax.error.message"]);
				passwordDialog.dialog( "close" );
			}
		});
	})

	function checkPasswordModify() {
		if ($("#password").val() == "") {
			alert("비빌번호를 입력하여 주십시오.");
			$("#password").focus();
			return false;
		}
		if ($("#newPassword").val() == "") {
			alert("변경할 비밀번호를 입력하여 주십시오.");
			$("#newPassword").focus();
			return false;
		}
		if ($("#newPasswordConfirm").val() == "") {
			alert("비밀번호 확인을 입력하여 주십시오.");
			$("#newPasswordConfirm").focus();
			return false;
		}
		return true;
	}

	function checkEmailModify(newEmail) {
		if (newEmail == "") {
			alert("변경할 이메일을 입력하여 주십시오.");
			$("#preEmail").focus();
			return false;
		}
		return true;
	}
</script>
</body>
</html>
