<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow"/>
    <title>My Page</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div th:replace="~{/fragments/header :: #headerWrap}"></div>
<div id="wrap">
    <!-- S: NAVWRAP -->
    <div class="navWrap">
        <div th:replace="~{/fragments/menu :: #navWrap}"></div>
    </div>
    <!-- E: NAVWRAP -->
	<div class="container" style="float:left; width: calc(100% - 78px);">
		<div style="padding: 40px 20px 30px 10px; font-size: 28px; color:black; font-weight:600;">마이 페이지</div>
        <!-- TAB -->
        <div class="tabs w800">
            <ul class="tab">
				<li id="tabMyPageUserInfo"><a href="/mypage/user-modify">기본 정보</a></li>
				<li id="tabMyPageMembership"><a href="/mypage/membership">멤버십</a></li>
				<li id="tabMyPageUserPolicy"><a href="/mypage/user-policy">공간정보 설정</a></li>
            </ul>
        </div>

		<form id="userPolicy" th:object="${userPolicy}" method="post" th:action="@{#}" onsubmit="return false;">
			<input type="hidden" id="userPolicyId" name="userPolicyId"/>
			<div class="userPolicyContent w800 marT30">
				<div class="button-group-align marB10">
					<h3 class="h3-heading">시작 위치</h3>
					<button type="button" id="findStartPoint" class="btnTextF right-align marR10" th:text="#{common.select}"></button>
				</div>
				<div class="userPolicyContentDetail">
					<div class="form-group form-group-policy">
						<label for="initLongitude" th:text="#{common.longitude}"></label>
						<input type="text" id="initLongitude" name="initLongitude" th:field="*{initLongitude}" size="30" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="initLatitude" th:text="#{common.latitude}"></label>
						<input type="text" id="initLatitude" name="initLatitude" th:field="*{initLatitude}" size="30" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="initAltitude" th:text="#{common.altitude}"></label>
						<input type="text" id="initAltitude" name="initAltitude" th:field="*{initAltitude}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="initDuration" th:text="#{policy.init.duration}"></label>
						<input type="text" id="initDuration" name="initDuration" th:field="*{initDuration}" size="15" /> S
					</div>
				</div>
			</div>
			<div class="userPolicyContent w800">
				<h3 class="h3-heading marB10">FOV (Field Of View)</h3>
				<div class="userPolicyContentDetail">
					<div class="form-group form-group-policy">
						<label for="initfieldOfView" th:text="#{policy.init.fov}"></label>
						<input type="text" id="initfieldOfView" name="initDefaultFov" th:field="*{initDefaultFov}" size="14" /> M
					</div>
				</div>
			</div>
			<div class="userPolicyContent w800">
				<div class="button-group-align marB10">
					<h3 class="h3-heading">LOD (Level Of Detail)</h3>
				</div>
				<div class="userPolicyContentDetail">
					<div class="form-group form-group-policy">
						<label for="geoLod0">LOD0</label>
						<input type="text" id="geoLod0" name="lod0" th:field="*{lod0}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="geoLod1">LOD1</label>
						<input type="text" id="geoLod1" name="lod1" th:field="*{lod1}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="geoLod2">LOD2</label>
						<input type="text" id="geoLod2" name="lod2" th:field="*{lod2}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="geoLod3">LOD3</label>
						<input type="text" id="geoLod3" name="lod3" th:field="*{lod3}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="geoLod4">LOD4</label>
						<input type="text" id="geoLod4" name="lod4" th:field="*{lod4}" size="15" /> M
					</div>
					<div class="form-group form-group-policy">
						<label for="geoLod5">LOD5</label>
						<input type="text" id="geoLod5" name="lod5" th:field="*{lod5}" size="15" /> M
					</div>
				</div>
			</div>
			<div class="userPolicyContent w800">
				<div class="button-group-align marB10">
					<h3 class="h3-heading">SSAO</h3>
				</div>
				<div class="userPolicyContentDetail">
					<div class="form-group form-group-policy w800">
						<label for="ssaoRadius" th:text="#{policy.init.ssao}"></label>
						<input type="text" id="ssaoRadius" name="ssaoRadius" th:field="*{ssaoRadius}" size="15" /> M
					</div>
				</div>
			</div>
			<div class="button-group w800">
				<div class="center-buttons">
					<button class="btn" th:text="#{common.save}" th:onclick="'update();'"></button>
				</div>
			</div>
			
		</form>

        <!-- E: 사용자 기본 정보 수정 -->
	</div>
</div>
<!-- E: WRAP -->
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/user-policy.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//
	});

	function validate() {
		//
	}

	var updateUserPolicyFlag = true;
	function update() {
		if(updateUserPolicyFlag) {
			updateUserPolicyFlag = false;
			var url = "/user-policy/update";
			var formData = $("#userPolicy").serialize();
			$.ajax({
				url: url,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				dataType: "json",
				success: function(msg) {
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["save"]);
					} else {
						alert(msg.message);
						console.log("---- " + msg.message);
					}
					updateUserPolicyFlag = true;
				},
				error: function(request, status, error) {
					alert(JS_MESSAGE["ajax.error.message"]);
					updateUserPolicyFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.double.click"]);
			return;
		}
	}
</script>
</body>
</html>
