<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<body>
	<div id="gnbWrap" style="z-index: 100;">
		<!-- S: 통합검색 -->
		<div class="totalSearch">
			<label for="fullTextSearch" class="hiddenTag"><th:block th:text="#{search.integrated}"></th:block></label>
			<input type="text" id="fullTextSearch" name="fullTextSearch" th:placeholder="#{search.input.placeholder}" />
			<button type="button" id="fullTextSearchButton" th:title="#{common.search}" class="btnTotalSearch"><th:block th:text="#{common.search}"></th:block></button>
		</div>
	</div>
</body>
</html>