<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>MicroService 사용 이력</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div id="siteBody" class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div class="filters">
							<form id="microServiceLog" th:object="${microServiceLog}" method="get" th:action="@{/templates/micro-service-log/micro-service-log/list}" onsubmit="return searchCheck();">
								<div class="input-group row">
									<div class="input-set">
										<label for="searchWord" class="hiddenTag">검색유형</label>
										<select id="searchWord" name="searchWord" class="select" title="검색유형" style="height: 30px;">
											<option value="" th:text="#{select}"></option>
											<option value="micro_service_name">서비스명</option>
										</select>
										<label for="searchOption" class="hiddenTag">검색옵션</label>
										<select id="searchOption" name="searchOption" class="select" title="검색옵션" style="height: 30px;">
											<option value="0" th:text="#{search.same}"></option>
											<option value="1" th:text="#{search.include}"></option>
										</select>
										<label for="searchValue" th:text="#{search.word}"></label>
										<input type="search" id="searchValue" name="searchValue" class="m" style="float: right;" />
									</div>
									<div class="input-set">
										<label for="startDate" th:text="#{search.date}"></label>
										<input type="text" id="startDate" name="startDate" class="s date" autocomplete="off" />
										<span class="delimeter tilde">~</span>
										<label for="endDate" class="hiddenTag">종료일</label>
										<input type="text" id="endDate" name="endDate" class="s date" autocomplete="off" />
									</div>
									<div class="input-set">
										<label for="orderWord" th:text="#{search.order}"></label>
										<select id="orderWord" name="orderWord" class="select" style="height: 30px;">
											<option value="" th:text="#{search.basic}"></option>
											<option value="micro_service_name">서비스명</option>
											<option value="insert_date" th:text="#{search.insert.date}"></option>
										</select>
										<label for="orderValue" class="hiddenTag">정렬기준</label>
										<select id="orderValue" name="orderValue" class="select" title="정렬기준" style="height: 30px;">
											<option value="" th:text="#{search.basic}"></option>
											<option value="ASC" th:text="#{search.ascending}"></option>
											<option value="DESC" th:text="#{search.descending.order}"></option>
										</select>
										<label for="listCounter" class="hiddenTag">리스트건수</label>
										<select id="listCounter" name="listCounter" class="select" title="리스트건수" style="height: 30px;">
											<option value="10" th:text="#{search.ten.count}"></option>
											<option value="50" th:text="#{search.fifty.count}"></option>
											<option value="100" th:text="#{search.hundred.count}"></option>
										</select>
									</div>
									<div class="input-set">
										<input type="submit" th:value="#{search}" />
									</div>
								</div>
							</form>
						</div>
						<div class="list">
							<div class="list-header row">
								<div class="list-desc u-pull-left">
									<th:block th:text="#{all.d}"></th:block>
									<em th:text="${pagination.totalCount}"></em>
									<th:block th:text="#{search.what.count}"></th:block>
									<th:block th:text="${pagination.pageNo}"></th:block>
									/
									<th:block th:text="${pagination.lastPage}"></th:block>
									<th:block th:text="#{search.page}"></th:block>
								</div>
							</div>
							<table class="list-table scope-col" summary="목록 테이블">
								<caption class="hiddenTag">접근 이력 목록</caption>
								<col class="col-number"></col>
								<col class="col-client" />
								<col class="col-uri" />
								<col class="col-param" />
								<col class="col-agent" />
								<col class="col-referer" />
								<col class="col-date" />
								<col class="col-detail" />
								<thead>
								<tr>
									<th scope="col" class="col-number" th:text="#{number}"></th>
									<th scope="col">서비스 명</th>
									<th scope="col">서비스 타입</th>
									<th scope="col">URL PATH</th>
									<th scope="col">상태</th>
									<th scope="col">에러</th>
									<th scope="col">등록일</th>
								</tr>
								</thead>
								<tbody>
								<th:block th:if="${#lists.isEmpty(microServiceLogList)}">
									<tr>
										<td colspan="10" class="col-none">MicroService 이력이 존재하지 않습니다.</td>
									</tr>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(microServiceLogList)}" th:each="microServiceLog : ${microServiceLogList}">
									<tr>
										<td class="col-number" th:text="${pagination.rowNumber - microServiceLogStat.index}"></td>
										<td class="col-name" th:text="${microServiceLog.microServiceName}"></td>
										<td class="col-type" th:text="${microServiceLog.microServiceType}"></td>
										<td class="col-path" th:text="${microServiceLog.urlPath}"></td>
										<td class="col-status" th:text="${microServiceLog.status}"></td>
										<td class="col-error" th:text="${microServiceLog.errorMessage}"></td>
										<td class="col-date">
											<th:block th:text="${#temporals.format(microServiceLog.insertDate, 'yyyy-MM-dd HH:mm')}"></th:block>
										</td>
									</tr>
								</th:block>
								</tbody>
							</table>
						</div>
						<div th:replace="~{/common/pagination :: #paginationArea}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="pageCustomScript">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			initDatePicker();

			$("#searchWord").val([[${microServiceLog.searchWord}]]);
			$("#searchValue").val([[${microServiceLog.searchValue}]]);
			$("#orderWord").val([[${microServiceLog.orderWord}]]);
			$("#orderValue").val([[${microServiceLog.orderValue}]]);

			initCalendar(new Array("startDate", "endDate"), new Array([[${microServiceLog.startDate}]], [[${microServiceLog.endDate}]]));
		});

		function searchCheck() {
			if($("#searchOption").val() === "1") {
				if(confirm(JS_MESSAGE["search.option.warning"])) {
					// go
				} else {
					return false;
				}
			}

			var startDate = $("#startDate").val();
			var endDate = $("#endDate").val();
			if(startDate != null && startDate != "" && endDate != null && endDate != "") {
				if(parseInt(startDate) > parseInt(endDate)) {
					alert(JS_MESSAGE["search.date.warning"]);
					$("#startDate").focus();
					return false;
				}
			}
			return true;
		}

	</script>
</th:block>
</body>
</html>