<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="smlt_contents_natural" class="smlt_contents" style="display:none;">
	<div class="smlt">
		<div class="smlt-item" id="smlt-natural-wind-div" data-type="wind">
			<span class="smlt-blt"></span>
			<span class="smlt-tit">바람장 비교</span>
		</div>				
		<div class="sub">
			<div class="sublist">
				<span class="smlt-sub" style="display:inline-block;">바람</span>
			</div>
			
			<div class="btn-right">
				<button type="button" class="btn-cancel">닫기</button>
			</div>
		</div>
	</div>				
	<div class="smlt">
		<div class="smlt-item" id="smlt-natural-water-div" data-type="water">
			<span class="smlt-blt"></span>
			<span class="smlt-tit">물 시뮬레이션</span>
		</div>	
		<div class="sub">
			<div class="sublist">
				<span class="smlt-sub">물</span>
			</div>
			<div class="btn-right">
				<button type="button" class="btn-cancel">닫기</button>
			</div>
		</div>	
	</div>
</div>