<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="smlt_contents_timeseries" class="smlt_contents">
	<div class="smlt">
		<div class="smlt-item" id="smlt-construction-step-div" data-type="step">
			<span class="smlt-blt"></span>
			<span class="smlt-tit">시계열-시공단계별</span>
		</div>				
		<div class="sub">
			<div class="sublist">
				<span class="smlt-sub" style="display:inline-block;">시공단계</span>
				<div id="smlt-construction-step-slider" style="width:200px;float:right;margin-right: 20px;"></div>
			</div>
			<!-- <div class="sublist">
				<label for="timeSeriesItem2Agree" class="smlt-sub">항목2</label>
				<input id="timeSeriesItem2Agree" type="checkbox" class="checkbox" /> 동의
				<input id="timeSeriesItem2Disagree" type="checkbox" class="checkbox mg-l20" /> 비동의
			</div>
			<div class="sublist">
				<label for="timeSeriesItem3" class="smlt-sub">항목3</label>
				<form>
					<select id="timeSeriesItem3" class="selecttype">
						<option>선택</option>
						<option>1</option>
						<option>2</option>
					</select>
				</form>
			</div>
			<div class="sublist">
				<label for="timeSeriesItem4" class="smlt-sub">항목4</label>
				<input id="timeSeriesItem4" type="text" class="smlt-value inputtype" />
			</div>
			<div class="sublist">
				<label for="timeSeriesItem5" class="smlt-sub">항목5</label>
				<input id="timeSeriesItem5" type="text" class="smlt-value inputtype" />
			</div>
			<div class="sublist">
				<label for="timeSeriesItem6Agree" class="smlt-sub">항목6</label>
				<input id="timeSeriesItem6Agree" type="radio" class="radiobox" /> 동의
				<input id="timeSeriesItem6Disagree" type="radio" class="radiobox mg-l20" /> 비동의
			</div> -->
			<div class="btn-right" style="margin-top: 45px;">
				<button type="button" class="btn-cancel">닫기</button>
			</div>
		</div>
	</div>				
	<div class="smlt">
		<div class="smlt-item" id="smlt-construction-level-div" data-type="level">
			<span class="smlt-blt"></span>
			<span class="smlt-tit">시계열-층별 건설공정</span>
		</div>	
		<div class="sub">
			<div class="sublist" style="height:260px;">
				<span class="smlt-sub"></span>
				<div id="smlt-construction-level-slider" style="width:20px;height:200px;margin-top: 20px;"></div>
			</div>
			<div class="btn-right">
				<button type="button" class="btn-cancel">닫기</button>
			</div>
		</div>	
	</div>
</div>