<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>룰 템플릿 수정</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div id="siteBody" class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div class="input-header row">
							<div class="content-desc u-pull-right">
								<span class="icon-glyph glyph-emark-dot color-warning"></span>
								<th:block th:text="#{check}"></th:block>
							</div>
						</div>

						<!-- S: 룰 그룹 수정 -->
						<form id="ruleGroup" th:object="${ruleGroup}" method="post" th:action="@{#}" onsubmit="return false;">
							<input type="hidden" name="_method" value="PUT" />
							<table class="input-table scope-row" summary="룰 그룹 수정 테이블">
								<caption class="hiddenTag">룰 그룹 수정</caption>
								<colgroup>
									<col class="col-label l"></col>
									<col class="col-input"></col>
								</colgroup>
								<tr>
									<th class="col-label" scope="row">
										<label for="ruleType">룰 타입</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<select id="ruleType" name="ruleType" th:field="*{ruleType}" class="selectBoxClass">
											<option value="data"> 데이터 </option>
											<option value="data_library"> 데이터 라이브러리 </option>
											<option value="layer"> 레이어 </option>
											<option value="design_layer"> 디자인 레이어 </option>
										</select>
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="ruleGroupName">룰 그룹명</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="text" id="ruleGroupName" name="ruleGroupName" th:field="*{ruleGroupName}" class="l" maxlength="100"  />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										룰 그룹 Key(영문,숫자,-,_)
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input" th:text="${ruleGroup.ruleGroupKey}"></td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										상위 룰 그룹
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input" th:text="${ruleGroup.parentName}"></td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										최상위 룰 상속 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<input type="radio" id="ruleInheritTypeTrue" name="ruleInheritType" value="true" />
										<label for="ruleInheritTypeTrue">사용</label>
										<input type="radio" id="ruleInheritTypeFalse" name="ruleInheritType" value="false" />
										<label for="ruleInheritTypeFalse">미사용</label>
									</td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										기본 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<th:block th:if="${#bools.isTrue(ruleGroup.basic)}">기본</th:block>
										<th:block th:if="${#bools.isFalse(ruleGroup.basic)}">선택</th:block>
									</td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										사용 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<th:block th:if="${#bools.isTrue(ruleGroup.basic)}">사용</th:block>
										<th:block th:if="${#bools.isFalse(ruleGroup.basic)}">
											<input type="radio" id="availableTrue" name="available" value="true" />
											<label for="availableTrue">사용</label>
											<input type="radio" id="availableFalse" name="available" value="false" />
											<label for="availableFalse">미사용</label>
										</th:block>
									</td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										<label for="description" th:text="#{description}"></label>
									</th>
									<td class="col-input">
										<input type="text" id="description" name="description" th:field="*{description}" class="xl" />
									</td>
								</tr>
							</table>
							<div class="button-group">
								<div class="center-buttons">
									<input type="submit" th:value="#{save}" onclick="update();"/>
									<a href="/rule-group/list" class="button">목록</a>
								</div>
							</div>
						</form>
						<!-- E: 룰 그룹 수정 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="pageCustomScript">

	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/tree.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

	<script th:inline="javascript">
		$(document).ready(function() {

			$("[name=ruleInheritType]").filter("[value='[[${ruleGroup.ruleInheritType}]]']").prop("checked", true);
			var isBasic = "[[${ruleGroup.basic}]]";
			if(isBasic === "false") {
				// 기본 그룹이 아닐 경우만 사용 유무 수정 가능
				$("[name=available]").filter("[value='[[${ruleGroup.available}]]']").prop("checked",true);
			}
		});

		function validate() {
			if ($("#ruleGroupName").val() === null || $("#ruleGroupName").val() === "") {
				alert("룰 그룹 그룹명을 입력해 주세요.");
				$("#ruleGroupName").focus();
				return false;
			}
		}

		// 수정
		var updateRuleGroupFlag = true;
		function update() {
			if (validate() == false) {
				return false;
			}
			if(updateRuleGroupFlag) {
				updateRuleGroupFlag = false;
				var formData = $("#ruleGroup").serialize();
				$.ajax({
					url: "/rule-groups/[[${ruleGroup.ruleGroupId}]]",
					type: "POST",
					headers: {"X-Requested-With": "XMLHttpRequest"},
					data: formData,
					success: function(msg){
						if(msg.statusCode <= 200) {
							alert(JS_MESSAGE["update"]);
							//window.location.reload();
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
							console.log("---- " + msg.message);
						}
						updateRuleGroupFlag = true;
					},
					error:function(request, status, error){
						alert(JS_MESSAGE["ajax.error.message"]);
						updateRuleGroupFlag = true;
					}
				});
			} else {
				alert(JS_MESSAGE["button.dobule.click"]);
			}
		}
	</script>
</th:block>
</body>
</html>